.classify-add-new-item-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0,0,0,.5);
}
.classify-add-new-item-panel .inner {
    display: table-cell;
    vertical-align: middle;
}
.classify-add-new-item-panel .content {
    position: relative;
    width: 400px;
    height: 270px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}
.classify-add-new-item-panel .content header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #CF4D44;
    color: #fff;
}
.classify-add-new-item-panel .content header .fa {
    position: absolute;
    right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.classify-add-new-item-panel .content .body {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.classify-add-new-item-panel .content .body > div {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.classify-add-new-item-panel .content .body > div input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.classify-add-new-item-panel .content footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}
.classify-add-new-item-panel .content footer button {
    border-radius: 15px;
}
