.custom_order_mobile {
  font-size: 15px;
  background: #efeff4;
  font-family: "Microsoft YaHei"; }
  .custom_order_mobile .customization-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
  .custom_order_mobile nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: center;
            align-items: center;
    width: 100%;
    height: 42px;
    background: #fff;
    border-bottom: 1px solid #cbcbcb; }
    .custom_order_mobile nav span {
      color: #333;
      font-weight: bold; }
    .custom_order_mobile nav .active_span {
      color: #e19100;
      border-bottom: 2px solid #e19100; }
  .custom_order_mobile .old-tip {
    width: 100%;
    background: #fce7e6;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    margin-top: 0; }
    .custom_order_mobile .old-tip.top {
      margin-top: 44px; }
  .custom_order_mobile .nav_content {
    display: none;
    -webkit-align-items: center;
            align-items: center;
    height: 55px;
    padding-left: 10px;
    margin-top: 44px; }
    .custom_order_mobile .nav_content span {
      width: 68px;
      height: 35px;
      font-size: 12px;
      color: #666;
      border: 1px solid #dedfe0;
      margin-right: 6px;
      line-height: 35px;
      text-align: center;
      background: #fff;
      position: relative; }
      .custom_order_mobile .nav_content span.active_content_nav {
        border-color: #e53935;
        color: #e53935; }
        .custom_order_mobile .nav_content span.active_content_nav .selected_icon {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 10px;
          height: 10px;
          display: block;
          background: url("/images/customization/selected_img.png") no-repeat;
          background-size: cover; }
  .custom_order_mobile .order_list li {
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #e3e5e5; }
    .custom_order_mobile .order_list li .list_top {
      height: 40px;
      padding: 0 10px;
      border-bottom: 1px solid #dedfe0;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-align-items: center;
              align-items: center; }
      .custom_order_mobile .order_list li .list_top .top_left {
        font-size: 14px;
        color: #666; }
        .custom_order_mobile .order_list li .list_top .top_left .icon_skew {
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url("/images/customization/icon1.png");
          background-size: cover;
          margin-right: 10px;
          vertical-align: middle; }
      .custom_order_mobile .order_list li .list_top .pay_time {
        font-size: 12px;
        color: #9d9d9d; }
    .custom_order_mobile .order_list li .list_content {
      padding: 10px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center; }
      .custom_order_mobile .order_list li .list_content .pro_img {
        width: 100px;
        height: 100px;
        border: 1px solid #dedfe0;
        min-height: 100px;
        min-width: 100px;
        margin-right: 20px;
        position: relative; }
        .custom_order_mobile .order_list li .list_content .pro_img img {
          min-height: 100px;
          min-width: 100px; }
        .custom_order_mobile .order_list li .list_content .pro_img .img_mask {
          width: 100%;
          height: 20px;
          font-size: 12px;
          background: #000;
          opacity: 0.4;
          color: #fff;
          line-height: 20px;
          text-align: center;
          position: absolute;
          left: 0;
          bottom: 0; }
      .custom_order_mobile .order_list li .list_content .text {
        font-size: 13px; }
        .custom_order_mobile .order_list li .list_content .text p {
          margin: 0; }
        .custom_order_mobile .order_list li .list_content .text .pro_attr {
          color: #9d9d9d;
          margin-top: 5px;
          margin-bottom: 10px; }
        .custom_order_mobile .order_list li .list_content .text .pro_price {
          font-size: 17px;
          color: #e19100; }
    .custom_order_mobile .order_list li .list_btn {
      border-top: 1px dotted #dedfe0;
      height: 60px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .custom_order_mobile .order_list li .list_btn a {
        width: 90px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 2px solid #b3b3b3;
        color: #666;
        border-radius: 30px;
        margin-right: 10px;
        font-size: 14px;
        background: #fff; }
        .custom_order_mobile .order_list li .list_btn a:hover {
          background: #e53935;
          color: #fff;
          border-color: #e53935; }
        .custom_order_mobile .order_list li .list_btn a:nth-child(1) {
          background-color: #e19100;
          color: #fff;
          border-color: #e19100; }
