.container{
    width: 100%;
    height: 100%;
}
.header{
    width: 7.5rem;
    height: 5.16rem;
    background: url("/images/181025/item1_header.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner1{
    width: 7.5rem;
    height: 9.85rem;
    background: url("/images/181025/item1_banner1.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner2{
    width: 7.5rem;
    height: 10.31rem;
    background: url("/images/181025/item1_banner2.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner3{
    width: 7.5rem;
    height: 6.55rem;
    background: url("/images/181025/item1_banner3.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner4{
    width: 7.5rem;
    height: 8.62rem;
    background: url("/images/181025/item1_banner4.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner5{
    width: 7.5rem;
    height: 6.72rem;
    background: url("/images/181025/item1_banner5.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner6{
    width: 7.5rem;
    height: 6.56rem;
    background: url("/images/181025/item1_banner6.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner7{
    width: 7.5rem;
    height: 5.28rem;
    position: relative;
    background: url("/images/181025/item1_banner7.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.banner7 a{
    width: 2rem;
    height: 0.5rem;
    display: inline-block;
    top: 4.5rem;
    left: 50%;
    margin-left: -1rem;
    background: #fff;
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
}
.bottom{
    width: 7.5rem;
    height: 1.44rem;
    position: relative;
    background: url("/images/181025/item1_bottom.jpg") center top no-repeat;
    background-size: 100% 100%;
}
.bottom a{
    width: 2rem;
    height: 0.7rem;
    display: inline-block;
    top: 0.35rem;
    left: 50%;
    margin-left: -1rem;
    background: #fff;
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
}