body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.apx-cart-container {
  border-top: 2px solid #cf4d44; }
  .apx-cart-container .cart-none {
    height: 107px;
    margin: 124px 290px;
    padding-left: 135px;
    background: url("/images/cart/gouwuche.png") no-repeat left center; }
    .apx-cart-container .cart-none .none-title {
      font-size: 16px;
      color: #333;
      padding: 24px 0 11px; }
    .apx-cart-container .cart-none .none-go {
      font-size: 14px;
      color: #1f66b1;
      padding-right: 13px;
      background: url("/images/cart/jinru.png") no-repeat right center; }
  .apx-cart-container .apx-cart-title {
    line-height: 50px;
    margin: 0;
    font-size: 16px; }
    .apx-cart-container .apx-cart-title .text-danger {
      color: #cf4d44; }
  .apx-cart-container .table {
    table-layout: fixed; }
    .apx-cart-container .table thead {
      background: #cf4d44;
      color: #fff; }
      .apx-cart-container .table thead th {
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        font-weight: 400; }
        .apx-cart-container .table thead th:nth-child(3) ~ th {
          text-align: center; }
        .apx-cart-container .table thead th:last-child {
          text-align: left !important; }
    .apx-cart-container .table a {
      text-decoration: none; }
    .apx-cart-container .table label {
      margin: 0;
      font-weight: 400; }
  .apx-cart-container .apx-cart-shop {
    border-bottom: 3px solid; }
    .apx-cart-container .apx-cart-shop td {
      font-size: 12px;
      padding-top: 14px; }
  .apx-cart-container .apx-cart-product {
    font-size: 12px;
    border: 1px solid #ddd; }
    .apx-cart-container .apx-cart-product.expire td, .apx-cart-container .apx-cart-product.lack td {
      border-bottom-color: transparent; }
    .apx-cart-container .apx-cart-product.expire + .apx-cart-product td, .apx-cart-container .apx-cart-product.lack + .apx-cart-product td {
      border-top-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center; }
    .apx-cart-container .apx-cart-product.expire + .apx-cart-product strong, .apx-cart-container .apx-cart-product.lack + .apx-cart-product strong {
      line-height: 30px;
      display: block;
      width: 94.7%;
      margin: 0 auto;
      border-top: 1px dashed #ccc; }
    .apx-cart-container .apx-cart-product.expire input[type="checkbox"],
    .apx-cart-container .apx-cart-product.expire .input-group-addon,
    .apx-cart-container .apx-cart-product.expire .form-control {
      background: #e6e6e6 !important;
      cursor: default !important;
      color: #b2b2b2; }
    .apx-cart-container .apx-cart-product.expire td,
    .apx-cart-container .apx-cart-product.expire + tr > td {
      background: #e6e6e6 !important; }
    .apx-cart-container .apx-cart-product.expire td,
    .apx-cart-container .apx-cart-product.expire .col-xs-6 > a,
    .apx-cart-container .apx-cart-product.expire .disabled {
      color: #b2b2b2; }
    .apx-cart-container .apx-cart-product.selected {
      background: #fce7e5;
      border-color: #fce7e5; }
    .apx-cart-container .apx-cart-product strong {
      color: #cf4d44; }
    .apx-cart-container .apx-cart-product .img-responsive {
      border: 1px solid #ddd;
      width: 92px;
      height: 92px; }
    .apx-cart-container .apx-cart-product td {
      line-height: 22px;
      padding: 13px 8px; }
      .apx-cart-container .apx-cart-product td:nth-child(2) ~ td {
        padding-top: 18px; }
      .apx-cart-container .apx-cart-product td:nth-child(3) ~ td {
        text-align: center; }
      .apx-cart-container .apx-cart-product td:last-child .btn {
        text-align: left !important;
        margin-top: 0; }
    .apx-cart-container .apx-cart-product .input-group-sm {
      width: 70px;
      margin: 0 auto 8px; }
      .apx-cart-container .apx-cart-product .input-group-sm .input-group-addon {
        border-radius: 0;
        background: #fff;
        padding: 2px 6px;
        height: 22px;
        line-height: 1;
        cursor: pointer; }
      .apx-cart-container .apx-cart-product .input-group-sm .form-control {
        padding: 2px;
        text-align: center;
        height: 22px;
        line-height: 1; }
    .apx-cart-container .apx-cart-product .remark-box {
      background: #fbf6b5;
      height: 90px;
      padding: 8px;
      box-shadow: 0px 1px 2px #ccc;
      position: relative; }
      .apx-cart-container .apx-cart-product .remark-box:before, .apx-cart-container .apx-cart-product .remark-box:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 20px;
        box-shadow: 0px 0px 2px #ccc;
        background: rgba(255, 255, 255, 0.1);
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .apx-cart-container .apx-cart-product .remark-box:before {
        bottom: 0px;
        left: -14px; }
      .apx-cart-container .apx-cart-product .remark-box:after {
        top: 0;
        right: -14px; }
      .apx-cart-container .apx-cart-product .remark-box textarea {
        z-index: 1; }
  .apx-cart-container .apx-cart-bar {
    line-height: 50px;
    background: #e6e6e6; }
    .apx-cart-container .apx-cart-bar .container {
      position: relative; }
    .apx-cart-container .apx-cart-bar .pull-right {
      padding-right: 110px; }
    .apx-cart-container .apx-cart-bar .apx-cart-bar-submit {
      position: absolute;
      background: #cf4d44;
      top: 0;
      right: -10px;
      bottom: 0;
      width: 120px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      letter-spacing: 4px; }
    .apx-cart-container .apx-cart-bar label {
      margin: 0 20px;
      font-weight: 400; }
    .apx-cart-container .apx-cart-bar a,
    .apx-cart-container .apx-cart-bar span {
      text-decoration: none;
      margin: 0 10px; }
    .apx-cart-container .apx-cart-bar .high-lighted {
      margin: 0;
      color: #cf4d44; }
    .apx-cart-container .apx-cart-bar.affix-top {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2; }
    .apx-cart-container .apx-cart-bar.affix {
      position: relative; }
  .apx-cart-container .nav-tabs {
    margin-top: 24px;
    border: 0; }
    .apx-cart-container .nav-tabs li {
      color: #333;
      margin-right: 40px; }
      .apx-cart-container .nav-tabs li a {
        font-size: 14px;
        border: 0;
        padding: 4px 0;
        border-bottom: 2px solid transparent; }
        .apx-cart-container .nav-tabs li a:hover, .apx-cart-container .nav-tabs li a:active, .apx-cart-container .nav-tabs li a:focus {
          border: 0;
          border-bottom: 2px solid transparent;
          background: none; }
      .apx-cart-container .nav-tabs li.active a {
        font-weight: bold;
        color: #eb2f2f;
        border-color: #eb2f2f; }

.apx-cart-bill-table {
  border: 1px solid #ddd;
  background: #fff; }
  .apx-cart-bill-table thead.thead {
    background: #fff; }
    .apx-cart-bill-table thead.thead > tr > th {
      color: #333;
      line-height: 36px; }
      .apx-cart-bill-table thead.thead > tr > th:last-child {
        text-align: center !important; }
  .apx-cart-bill-table .apx-cart-shop {
    border: 0;
    padding-top: 18px; }
    .apx-cart-bill-table .apx-cart-shop td {
      border-bottom: 1px solid transparent; }
  .apx-cart-bill-table .apx-cart-product td:first-child {
    border: 0; }
  .apx-cart-bill-table .apx-cart-product td:nth-child(2) {
    padding-left: 0; }

.apx-cart-total {
  border: 1px solid #333;
  padding: 20px 35px;
  margin-bottom: 10px;
  position: relative; }
  .apx-cart-total .high-lighted {
    color: #cf4d44; }
  .apx-cart-total .h3 {
    font-size: 24px;
    letter-spacing: .5px; }
  .apx-cart-total p {
    margin: 12px 0; }
    .apx-cart-total p:last-child {
      margin-bottom: 0; }
    .apx-cart-total p > span {
      margin-left: 16px; }
    .apx-cart-total p .price-detail {
      display: inline-block;
      min-width: 220px; }
      .apx-cart-total p .price-detail > span {
        display: inline-block;
        width: 140px;
        margin: 0; }
  .apx-cart-total .coupon-btn {
    z-index: 1;
    color: #df483d;
    border-color: #df483d;
    position: absolute;
    left: 32px;
    top: 14px; }
    .apx-cart-total .coupon-btn i {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
      transition: -webkit-transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .apx-cart-total .coupon-btn.collapsed i {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
  .apx-cart-total .collapse-coupon {
    background: #e6e6e6;
    margin: 0 -35px; }
    .apx-cart-total .collapse-coupon .gap {
      height: 40px;
      background: #fff; }
  .apx-cart-total .coupon-list {
    padding: 0 16px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto; }
    .apx-cart-total .coupon-list .hr {
      border-bottom: 1px solid #ccc; }
    .apx-cart-total .coupon-list [class^="col-xs"] {
      padding: 15px; }
    .apx-cart-total .coupon-list .coupon-item {
      cursor: pointer;
      background: #fff;
      border: 2px solid #e6e6e6;
      position: relative; }
      .apx-cart-total .coupon-list .coupon-item .extra-info {
        position: absolute;
        bottom: -24px;
        left: 0;
        right: 0;
        font-size: 12px;
        text-align: left;
        color: #999; }
      .apx-cart-total .coupon-list .coupon-item.active {
        border-color: #df483d; }
      .apx-cart-total .coupon-list .coupon-item.disable {
        cursor: not-allowed; }
        .apx-cart-total .coupon-list .coupon-item.disable .media {
          background: #ccc;
          color: #999 !important; }
        .apx-cart-total .coupon-list .coupon-item.disable p {
          color: #999 !important; }
      .apx-cart-total .coupon-list .coupon-item .media {
        background: #f8c631;
        text-align: left;
        padding: 6px 0 6px 24px; }
        .apx-cart-total .coupon-list .coupon-item .media .media-left {
          font-size: 34px;
          font-weight: 600;
          padding-right: 16px;
          letter-spacing: 2px; }
          .apx-cart-total .coupon-list .coupon-item .media .media-left small {
            font-size: 12px;
            vertical-align: 16px; }
        .apx-cart-total .coupon-list .coupon-item .media .media-body {
          vertical-align: bottom;
          font-size: 12px; }
          .apx-cart-total .coupon-list .coupon-item .media .media-body p {
            margin: 6px 0; }
          .apx-cart-total .coupon-list .coupon-item .media .media-body p + p {
            color: #333; }
      .apx-cart-total .coupon-list .coupon-item > p {
        padding-left: 24px;
        text-align: left;
        color: #333;
        margin: 4px 0;
        font-size: 12px; }

.apx-cart-bill-submit {
  padding: 0 !important;
  margin-right: -15px;
  background: #cf4d44;
  width: 180px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  letter-spacing: 4px; }
  .apx-cart-bill-submit:active {
    box-shadow: inset 0 0 12px #666; }

.apx-cart-product-slider {
  height: 330px;
  background: #fff;
  border: 1px dashed #ccc;
  margin-top: 30px;
  margin-bottom: 40px; }
  .apx-cart-product-slider a {
    text-decoration: none; }
  .apx-cart-product-slider .carousel-control {
    background: transparent;
    color: #b5b5b5;
    width: 48px; }
  .apx-cart-product-slider .apx-item {
    padding: 12px 18px;
    margin: 0;
    width: 20%;
    border-right: 1px dashed #ddd;
    height: 330px; }
    .apx-cart-product-slider .apx-item:last-child {
      border: 0; }
  .apx-cart-product-slider .item-cnt {
    padding: 0; }
  .apx-cart-product-slider .item-cnt .item-cnt-title {
    font-size: 14px;
    text-align: center; }
    .apx-cart-product-slider .item-cnt .item-cnt-title + .text-center {
      font-size: 22px;
      color: #cf4d44;
      margin-top: 8px;
      letter-spacing: 1px; }
  .apx-cart-product-slider .add-cart {
    width: 150px;
    padding: 0;
    display: block;
    font-size: 12px;
    line-height: 30px;
    color: #333;
    border: 1px solid #999;
    text-align: center;
    border-radius: 4px;
    margin: 4px auto;
    background: #fff; }
    .apx-cart-product-slider .add-cart i {
      font-size: 18px;
      vertical-align: text-bottom;
      margin-right: 6px; }
    .apx-cart-product-slider .add-cart:hover {
      background: #cf4d44;
      color: #fff;
      border-color: #cf4d44; }
  .apx-cart-product-slider .carousel-indicators {
    width: 200px;
    height: 30px;
    top: -25px;
    right: 52px;
    left: auto;
    text-align: right; }
    .apx-cart-product-slider .carousel-indicators li {
      width: 10px;
      height: 10px;
      border: 1px solid #b3b3b3;
      background: #b3b3b3;
      margin: 2px;
      transition: all 0.3s; }
      .apx-cart-product-slider .carousel-indicators li.active {
        width: 28px;
        border: 1px solid #eb2f2f;
        background: #eb2f2f; }
