body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

/** Stage container **/
.connected-carousels .stage {
  width: 100%;
  position: relative; }

/** Navigation container **/
.connected-carousels .navigation {
  width: 100%;
  margin: 20px auto;
  position: relative; }

/** Shared carousel styles **/
.connected-carousels .carousel {
  overflow: hidden;
  position: relative; }

.connected-carousels .carousel ul {
  width: 20000em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.connected-carousels .carousel li {
  float: left; }

/** Stage carousel specific styles **/
.connected-carousels .carousel-stage {
  padding: 50%;
  position: relative;
  margin: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px #999;
  z-index: 1; }

.connected-carousels .carousel-stage li {
  width: 400px;
  height: 400px;
  text-align: center; }

.connected-carousels .carousel-stage li img {
  display: inline-block;
  z-index: 1; }

.connected-carousels .carousel li span {
  vertical-align: middle;
  display: inline-block;
  height: 100%; }

/** Navigation carousel specific styles **/
.connected-carousels .carousel-navigation {
  height: 80px;
  width: 100%;
  background: #fff;
  margin: 0; }

.connected-carousels .carousel-navigation li {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 4px solid #fff; }

.connected-carousels .carousel-navigation li img {
  display: inline-block;
  position: relative; }

.connected-carousels .carousel-navigation li.active {
  border-color: #ccc; }

/** Stage carousel controls **/
.connected-carousels .prev-stage,
.connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: 0;
  width: 200px;
  height: 400px;
  color: #fff;
  z-index: 9; }

.connected-carousels .prev-stage {
  left: 0; }

.connected-carousels .next-stage {
  right: 0; }

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
  display: none; }

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  line-height: 27px;
  font-size: 24px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999; }

.connected-carousels .prev-stage span {
  left: 20px; }

.connected-carousels .next-stage span {
  right: 20px; }

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
  display: block; }

/** Navigation carousel controls **/
.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 2px #999; }

.connected-carousels .prev-navigation {
  left: -15px;
  top: 22px;
  text-indent: 6px; }

.connected-carousels .next-navigation {
  right: -15px;
  top: 22px;
  text-indent: 20px; }

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default; }

.apx-detail-head {
  box-shadow: 0 2px 4px #ccc; }
  .apx-detail-head .media {
    padding: 30px 0;
    position: relative;
    font-size: 13px; }
  .apx-detail-head .media-heading {
    margin-bottom: 10px; }
  .apx-detail-head .media-body img {
    margin-left: 12px; }
  .apx-detail-head .media-body p {
    margin: 0;
    line-height: 1.8; }
  .apx-detail-head .apx-shop-score {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
    .apx-detail-head .apx-shop-score > strong {
      font-size: 14px;
      display: block;
      margin-bottom: 8px; }
    .apx-detail-head .apx-shop-score li {
      line-height: 1.8; }
    .apx-detail-head .apx-shop-score .high-lighted {
      color: #e11222; }
  .apx-detail-head .media-left-inner {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    vertical-align: middle; }
    .apx-detail-head .media-left-inner img {
      display: inline; }

.detail-expo {
  background: #fff;
  margin: 40px auto 20px; }
  .detail-expo > .row {
    margin-left: -23px;
    margin-right: -23px; }

.detail-social a.btn-link {
  text-decoration: none;
  color: #999; }

.detail-social i {
  margin-right: 4px;
  font-size: 20px;
  vertical-align: text-bottom; }

.detail-gallary {
  width: 400px;
  float: left;
  box-sizing: content-box;
  padding: 0 8px; }
  .detail-gallary-override {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    width: 400px;
    height: 400px;
    z-index: 10; }
    .detail-gallary-override img {
      width: 400px;
      max-width: 400px; }

.detail-promo {
  width: 545px;
  float: left;
  box-sizing: content-box;
  padding: 0 8px;
  font-size: 13px;
  color: #666; }
  .detail-promo a {
    color: inherit;
    text-decoration: none; }
  .detail-promo .glyphicon-shopping-cart {
    margin-right: 8px; }
  .detail-promo > .h4 {
    font-weight: 600;
    margin-top: 0;
    font-size: 16px;
    color: #303030; }
  .detail-promo > .sub-title {
    color: #e01222;
    margin-bottom: 10px;
    font-size: 13px; }
  .detail-promo-price [class*="col-"], .detail-promo-para [class*="col-"] {
    padding: 0; }
  .detail-promo-price {
    background: #f2f2f2;
    color: #e11222; }
    .detail-promo-price dl {
      margin: 0; }
    .detail-promo-price dt,
    .detail-promo-price dd {
      line-height: 46px; }
    .detail-promo-price dd {
      font-size: 26px;
      font-weight: 600; }
    .detail-promo-price dt span {
      color: #fff;
      padding: 2px 4px;
      background: #e11222; }
    .detail-promo-price .list-unstyled {
      padding: 5px 0 5px 8px;
      margin-bottom: 0;
      position: relative; }
      .detail-promo-price .list-unstyled:before {
        content: ' ';
        border-left: 1px solid #fff;
        position: absolute;
        left: 0;
        top: 8px;
        bottom: 8px; }
      .detail-promo-price .list-unstyled .pull-left {
        min-width: 60px; }
    .detail-promo-price .item-tag {
      padding: 6px 10px 16px 10px; }
      .detail-promo-price .item-tag span {
        padding: 2px 4px;
        border: 1px solid #e11222; }
    .detail-promo-price .origin-price {
      color: #999;
      margin-left: 10px; }
      .detail-promo-price .origin-price span {
        font-size: 16px;
        color: #666;
        text-decoration: line-through; }
    .detail-promo-price .group-top-origin-price {
      display: -ms-flexbox;
      display: flex;
      margin: 8px 8px 8px 10px; }
      .detail-promo-price .group-top-origin-price .group-pro-tip {
        color: #eb2312;
        border: 1px solid #eb2312;
        padding: 0 4px; }
    .detail-promo-price .group-end-time-box {
      display: -ms-flexbox;
      display: flex;
      margin: 8px 8px 8px 10px; }
      .detail-promo-price .group-end-time-box .time-label {
        color: #999; }
      .detail-promo-price .group-end-time-box .time-content {
        color: #333; }
        .detail-promo-price .group-end-time-box .time-content .countstyle {
          font-size: 14px;
          color: #eb2312;
          width: 2em;
          padding: 4px;
          background-color: #f1cbcb;
          border-radius: 2px;
          margin: 0 4px;
          font-weight: bold; }
  .detail-promo-para.bg-lite {
    background: #eee; }
  .detail-promo-para dl {
    margin: 6px 0; }
  .detail-promo-para .btn-group {
    padding: 10px; }
  .detail-promo-para .btn-lg {
    color: #fff;
    border-radius: 0;
    line-height: 28px; }
    .detail-promo-para .btn-lg.pull-left {
      background: #e11222; }
    .detail-promo-para .btn-lg.pull-right {
      color: #e11222;
      border: 1px solid #e11222; }
  .detail-promo-para .now-buy-group {
    position: relative; }
    .detail-promo-para .now-buy-group .wechat-group-qr {
      position: absolute;
      top: 50px;
      left: 60px;
      width: 147px;
      height: 179px;
      text-align: center;
      background: url("/images/kuang.png") no-repeat center;
      z-index: 9;
      padding-top: 20px; }
      .detail-promo-para .now-buy-group .wechat-group-qr img {
        width: 125px; }
  .detail-promo-ammount {
    width: 110px;
    display: inline-table;
    vertical-align: middle; }
    .detail-promo-ammount .input-group-addon {
      border-radius: 0;
      cursor: pointer; }
    .detail-promo-ammount .input-group-addon {
      border: 1px solid #ccc;
      background: #fff; }
    .detail-promo-ammount .form-control {
      margin: 0 6px;
      width: 44px;
      text-align: center; }
  .detail-promo .high-lighted {
    color: red; }
  .detail-promo dt {
    text-align: left;
    width: 80px;
    font-weight: 400;
    padding: 0 10px; }
  .detail-promo dd {
    margin: 0;
    padding-left: 80px; }
  .detail-promo textarea {
    border-radius: 0;
    resize: none; }
  .detail-promo .btn-photo {
    padding: 2px;
    width: 46px;
    height: 46px; }
  .detail-promo .btn-default {
    font-size: 12px;
    text-align: justify;
    white-space: normal;
    margin-bottom: 5px;
    border-radius: 0; }
    .detail-promo .btn-default.disabled {
      border-style: dashed; }
    .detail-promo .btn-default.active {
      outline: 0;
      background: #e11222;
      color: #fff;
      border-radius: 0;
      box-shadow: none; }
  .detail-promo .with-errors {
    display: none; }
  .detail-promo .has-error {
    border: 4px solid #e11222;
    padding: 6px 0;
    margin-left: -3px;
    margin-right: -3px; }
    .detail-promo .has-error > .pure-u-1-4 {
      font-weight: bold;
      color: #A94442;
      padding: 0; }
    .detail-promo .has-error > .pure-u-3-4 {
      margin-left: -5px; }
    .detail-promo .has-error .with-errors {
      display: block; }

.detail-sidebar {
  width: 213px;
  float: left;
  box-sizing: content-box;
  padding: 0 8px; }
  .detail-sidebar .detail-sidebar-inner {
    border: 1px solid #ccc; }
  .detail-sidebar .carousel-indicators {
    position: relative;
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
    left: 0;
    bottom: 0; }
    .detail-sidebar .carousel-indicators li {
      border-color: #a0a0a0;
      width: 10px;
      height: 10px;
      margin: 4px; }
    .detail-sidebar .carousel-indicators .active {
      background: #a0a0a0; }
  .detail-sidebar .carousel-control {
    background: transparent; }
    .detail-sidebar .carousel-control:hover, .detail-sidebar .carousel-control:focus, .detail-sidebar .carousel-control:active {
      color: #a0a0a0; }
    .detail-sidebar .carousel-control span {
      font-size: 18px; }
  .detail-sidebar .detail-sidebar-title {
    line-height: 0px;
    margin: 25px 40px;
    background: #fff;
    border-top: 1px solid #666; }
    .detail-sidebar .detail-sidebar-title span {
      background: #fff;
      padding: 0 8px; }
  .detail-sidebar .apx-item {
    width: 140px;
    margin: 0 auto 8px; }
    .detail-sidebar .apx-item .item-cnt {
      margin: 0 -24px; }
  .detail-sidebar a {
    color: inherit;
    text-decoration: none; }

#detail-attr {
  border: 1px solid #ccc;
  border-top: 0; }
  #detail-attr [class^='col-xs'] {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    height: 28px;
    line-height: 28px; }

.detail-cnt {
  width: 750px;
  padding: 10px 0;
  margin: 0 auto; }

#detail-evaluation label {
  color: #fff;
  background-color: #333333; }

#detail-evaluation input[type="radio"] {
  position: relative;
  clip: auto;
  margin: 0 4px 0; }

.evaluation-item li {
  border-bottom: 1px solid #eee; }

.evaluation-item-avatar {
  width: 80px;
  text-align: center;
  margin: 20px auto; }
  .evaluation-item-avatar .img-circle {
    margin: 0 auto; }

.evaluation-item-shot {
  margin-bottom: 10px; }

.evaluation-item-extra {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  padding-top: 10px; }

.evaluation-item .col-md-10 {
  padding: 20px 15px; }

.evaluation-item .img-thumbnail {
  width: 80px;
  cursor: zoom-in; }

.evaluation-item em,
.evaluation-item small {
  color: #ddd;
  font-style: normal; }

.apx-detail-aside {
  width: 210px; }
  .apx-detail-aside .panel {
    font-size: 12px;
    border-radius: 0; }
    .apx-detail-aside .panel .panel-heading {
      background: #eaeaea; }
      .apx-detail-aside .panel .panel-heading h3 {
        line-height: 28px; }
      .apx-detail-aside .panel .panel-heading strong {
        color: #675737; }
    .apx-detail-aside .panel li {
      line-height: 2.5; }
      .apx-detail-aside .panel li span {
        margin-right: 8px; }
    .apx-detail-aside .panel .label-xs {
      border-radius: 50%;
      width: 22px;
      line-height: 22px;
      display: inline-block;
      padding: 0;
      margin-right: 4px; }
    .apx-detail-aside .panel .btn-group {
      display: block; }
    .apx-detail-aside .panel .btn {
      border-radius: 0; }
      .apx-detail-aside .panel .btn:first-child {
        background: #ffe7ba;
        border-color: #b20e1b;
        color: #b20e1b; }
  .apx-detail-aside .apx-detail-ranking .panel-heading {
    background: #fff; }
  .apx-detail-aside .apx-detail-ranking a {
    color: inherit;
    text-decoration: none; }
  .apx-detail-aside .apx-detail-ranking .high-lighted {
    color: #e11222; }
  .apx-detail-aside .apx-detail-ranking .media {
    overflow: visible;
    position: relative;
    padding: 10px 0; }
    .apx-detail-aside .apx-detail-ranking .media:after {
      content: ' ';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ccc; }
  .apx-detail-aside .apx-detail-ranking a:last-child .media:after {
    border: 0; }
  .apx-detail-aside .apx-detail-ranking .media-left-inner {
    position: relative;
    width: 60px;
    height: 60px; }
    .apx-detail-aside .apx-detail-ranking .media-left-inner .badge {
      background: #e11222;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%); }

.apx-detail-main {
  width: 964px;
  margin-left: 16px;
  background: #fff;
  float: left; }
  .apx-detail-main .nav-tabs {
    height: 49px;
    border: 0;
    border-bottom: 1px solid #e11222;
    background: #f2f2f2; }
    .apx-detail-main .nav-tabs > li {
      min-width: 160px;
      text-align: center;
      position: relative; }
      .apx-detail-main .nav-tabs > li:after {
        content: ' ';
        width: 1;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-right: 1px solid #ccc; }
      .apx-detail-main .nav-tabs > li.active > a {
        color: #fff;
        border: 0;
        background: #e11222; }
      .apx-detail-main .nav-tabs > li > a {
        color: inherit;
        border-radius: 0;
        height: 48px;
        line-height: 2;
        margin: 0;
        border: 0;
        border-top: 4px solid transparent; }

.apx-detail-layout {
  margin: 20px 0; }
  .apx-detail-layout .apx-detail-layout-inner {
    margin: 0 80px; }
  .apx-detail-layout.param-table {
    border: 1px solid #ccc;
    border-bottom: 0;
    line-height: 32px; }
    .apx-detail-layout.param-table [class^='col-'] {
      border-bottom: 1px solid #ccc; }
    .apx-detail-layout.param-table .col-xs-12 {
      line-height: 40px; }
    .apx-detail-layout.param-table .col-xs-2 {
      border-right: 1px solid #ccc; }
    .apx-detail-layout.param-table .bg-title {
      background: #f5fafe; }

.recommend-group {
  width: 1190px;
  margin: 20px auto;
  border: 1px solid #ccc;
  position: relative; }
  .recommend-group a {
    text-decoration: none; }
  .recommend-group .recommend-title {
    border-bottom: 1px solid #ccc;
    background: #f2f2f2; }
    .recommend-group .recommend-title span {
      display: inline-block;
      width: 158px;
      text-align: center;
      line-height: 50px;
      border-right: 1px solid #ccc;
      color: #fff;
      background: #e11222; }
  .recommend-group .carousel-inner {
    height: 216px; }
  .recommend-group .pro-box {
    display: -ms-flexbox;
    display: flex; }
    .recommend-group .pro-box > a {
      width: 198px; }
  .recommend-group .item-pic {
    width: 130px;
    margin: 5px auto;
    text-align: center; }
  .recommend-group .item-cnt {
    margin: 0 15px; }
    .recommend-group .item-cnt .item-cnt-title {
      color: #747373;
      max-height: 38px;
      overflow: hidden; }
    .recommend-group .item-cnt .price {
      font-size: 14px;
      font-weight: 700;
      color: #e01222; }
  .recommend-group .carousel-control {
    width: 20px;
    height: 40px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5);
    top: 80px; }
    .recommend-group .carousel-control span {
      margin-top: 10px; }

.apx-join-team-buying {
  margin-bottom: 20px; }

.apx-join-team-buying .apx-join-team-buying-box {
  border: 2px solid #e11222;
  border-top: none; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules {
  display: none;
  position: absolute;
  float: left;
  margin-left: 1210px;
  width: 220px;
  background-color: #fcf1d9; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-head {
  padding: 5px 0;
  height: 33px;
  background: url(/images/product/bg-guizeshuoming.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  font-size: 14px;
  color: #fff; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-head > span {
  margin-left: 10px;
  display: inline-block; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-content {
  border: 1px solid #ddd;
  font-size: 12px; }

.kui-chat-right-triangle {
  left: -15px;
  height: 0px;
  width: 0px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #fcf1d9 transparent transparent;
  position: absolute;
  right: -16px; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-content .rules-text {
  padding: 3px 5px; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-content .rules-text p {
  margin: 0;
  padding: 0;
  margin-top: 10px; }

.apx-join-team-buying .apx-join-team-buying-box .show-aside-rules .default-content .rules-text p > strong {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-right: 10px;
  color: #f03677; }

.apx-join-team-buying .join-team-buying-list ul li:last-child {
  border-bottom: none; }

.apx-join-team-buying .join-team-buying-list > ul {
  display: table;
  padding: 0;
  margin: 0 auto;
  width: 100%; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead {
  height: 60px;
  line-height: 60px;
  background: #e11222;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head {
  margin: 0 10px; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head > div {
  display: inline-block;
  float: right;
  height: 60px;
  text-align: right; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamFight,
.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamCount,
.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-understand-more-rules,
.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-currentBusiness {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 18px; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamFight {
  text-align: left;
  float: left; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamFight span {
  display: inline-block;
  margin-left: 135px;
  width: 148px; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamFight span a {
  display: block;
  width: 100%;
  height: 60px;
  background: url(/images/product/button.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamFight span a img {
  width: 100%; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-teamCount {
  width: auto;
  text-align: right; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-currentBusiness {
  margin-left: 56px;
  width: auto;
  text-align: right; }

.apx-join-team-buying .join-team-buying-list > ul .ulhead .head .default-understand-more-rules {
  padding: 0 10px;
  margin-left: 56px;
  width: auto;
  float: right;
  font-weight: normal;
  font-size: 14px;
  color: #fbbc89;
  cursor: pointer; }

.apx-join-team-buying .join-team-buying-list > ul > li {
  display: block;
  padding: 14px 0;
  list-style: none;
  font-size: 14px;
  border-bottom: 1px solid #ddd; }

.apx-join-team-buying .join-team-buying-list > ul > li.default-head span {
  font-weight: bold; }

.apx-join-team-buying .join-team-buying-list > ul > li span.li-complate-data,
.apx-join-team-buying .join-team-buying-list > ul > li span.li-target-data {
  color: #ff0000; }

.apx-join-team-buying .join-team-buying-list > ul > li > span.default-grid {
  padding: 14px 0;
  margin: -14px 0;
  width: 9.091%;
  border-right: 1px solid #dddddd; }

.apx-join-team-buying .join-team-buying-list > ul > li > span {
  display: inline-block;
  width: 16.3645%;
  padding: 14px 0;
  margin: -14px 0;
  text-align: center;
  font-size: 14px;
  color: #333333;
  box-shadow: 1px 0px 1px #ccc;
  font-weight: normal;
  vertical-align: middle;
  overflow: hidden; }

.apx-join-team-buying .join-team-buying-list > ul > li > span:last-child {
  border-right: none; }

.apx-join-team-buying .join-team-buying-list > ul > li > span > em {
  font-style: normal;
  color: #ed2c85; }

.apx-join-team-buying .join-team-buying-list > ul > li > span > em > i {
  font-style: normal; }

.apx-join-team-buying .join-team-buying-list > ul > li > span strong {
  font-size: 16px;
  color: #ed2c85; }

.apx-join-team-buying .join-team-buying-list > ul > li > span > a:hover,
.apx-join-team-buying .join-team-buying-list > ul > li > span > a:visited,
.apx-join-team-buying .join-team-buying-list > ul > li > span > a:active {
  color: #fff;
  text-decoration: none; }

.target-li-join-linkMap {
  display: inline-block;
  padding: 5px 10px;
  width: 100px;
  border-radius: 8px;
  background-color: #169bd5;
  color: #fff; }

.strong-loading-animation {
  display: block;
  padding: 10px 0;
  width: 0;
  background-color: #169bd5; }

.progress-out {
  position: relative;
  border: 1px solid #3aa2cf;
  background-color: #fff; }

.progress-in {
  position: absolute;
  height: 100%;
  width: 0%;
  border: none;
  background-color: #3aa2cf;
  background-image: linear-gradient(top, #3aa2cf 0%, #53b2dc 40%, #329dcb 100%);
  background-image: -ms-linear-gradient(top, #3aa2cf 0%, #53b2dc 40%, #329dcb 100%);
  text-align: center;
  color: #fff;
  z-index: 1; }

.direction-left {
  left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.direction-right {
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.percent-show {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  z-index: 2; }

.apx-join-team-buying .join-team-buying-list > ul > li > span i {
  font-style: normal; }

.apx-join-team-buying .join-team-buying-list .clickAddList {
  text-align: center; }

.apx-join-team-buying .join-team-buying-list .clickAddList span {
  margin: 0 auto;
  font-size: 30px;
  color: #ccc;
  transform: rotateX(180deg);
  cursor: pointer; }

.apx-team-buying {
  display: none;
  margin: 20px auto 10px;
  background-color: #fff; }

.team-buying-head {
  display: table;
  width: 100%;
  padding: 10px 0;
  background-color: #dfdfdf; }

.team-buying-head .default-style-team-buying {
  display: inline-block;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 16px; }

.team-buying-head .default-style-team-buying {
  display: table-cell; }

.team-buying-head .default-style-team-buying span {
  display: inline-block; }

.team-buying-head .default-complate .implement-process {
  display: inline-block;
  vertical-align: bottom;
  background-color: #fff; }

.team-buying-head .default-detail-more {
  text-align: right; }

.u-flyer {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 9999; }
.service-click-container {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #333;
  padding-left: 20px;
  background: url('/images/service_44_icon.png') no-repeat left center;
  cursor: pointer;
}