.custom-quality-search {
  background-color: #e5e5e9;
  min-width: 1220px; }
  .custom-quality-search .error-ms-window {
    display: none;
    z-index: 999;
    background-color: #fff;
    position: fixed;
    top: 40%;
    left: 40%;
    width: 356px;
    height: 222px;
    text-align: center; }
    .custom-quality-search .error-ms-window .error-head {
      width: 356px;
      position: relative;
      margin-top: 10px;
      text-align: left;
      padding: 0 10px 0 10px; }
      .custom-quality-search .error-ms-window .error-head .error-title {
        color: #999999;
        font-size: 16px; }
      .custom-quality-search .error-ms-window .error-head .close-png {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 0; }
    .custom-quality-search .error-ms-window .error-ms-detail {
      width: 100%;
      font-size: 16px;
      color: #4c555c;
      font-weight: bold;
      margin: 60px 0 40px 0; }
    .custom-quality-search .error-ms-window .error-confirm-btn {
      height: 36px;
      width: 100px;
      text-align: center;
      line-height: 36px;
      border-radius: 18px;
      margin-bottom: 0;
      border: 1px solid #f4364f;
      cursor: pointer;
      background-color: #fff;
      color: #f4364f; }
  .custom-quality-search .shadow-screen {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 3000px;
    z-index: 998;
    background-color: #999;
    opacity: 0.7; }
  .custom-quality-search .head {
    height: 160px;
    border: 1px solid #000;
    position: relative;
    background: url("/images/quality_search/head-bg.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 160px; }
    .custom-quality-search .head .logo {
      position: absolute;
      top: 46px;
      left: 230px;
      font-size: 32px; }
    .custom-quality-search .head .h-title {
      width: 330px;
      height: 45px;
      line-height: 45px;
      position: absolute;
      bottom: 32px;
      right: 225px;
      color: #fff;
      font-size: 32px; }
  .custom-quality-search .contents {
    text-align: center;
    background-color: #e5e5e9;
    padding-top: 166px; }
    .custom-quality-search .contents .details {
      margin: 0 auto;
      width: 1175px;
      text-align: left; }
      .custom-quality-search .contents .details .c-title {
        font-size: 32px;
        margin-left: 10px;
        color: #4c555c; }
      .custom-quality-search .contents .details .d-contents {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        .custom-quality-search .contents .details .d-contents i {
          font-style: normal; }
        .custom-quality-search .contents .details .d-contents .list {
          width: 488px;
          padding: 0; }
          .custom-quality-search .contents .details .d-contents .list li {
            float: right;
            cursor: pointer;
            list-style-type: none;
            width: 480px;
            height: 112px;
            padding-left: 40px;
            line-height: 112px;
            font-size: 20px;
            background-color: #485370;
            color: #ffffff;
            margin: 12px 0 12px 0;
            color: #32786d;
            z-index: 996;
            position: relative; }
            .custom-quality-search .contents .details .d-contents .list li i {
              display: inline-block;
              height: 8px;
              width: 8px;
              border-radius: 4px;
              position: absolute;
              background-color: #32786d;
              top: 50px;
              left: 40px; }
            .custom-quality-search .contents .details .d-contents .list li p {
              margin-left: 16px;
              margin-bottom: 0;
              color: #ffffff;
              background-color: #485370; }
          .custom-quality-search .contents .details .d-contents .list .li-clicksty {
            box-shadow: 10px 10px 20px #485370;
            width: 508px;
            height: 125px;
            line-height: 125px;
            background-color: #fff;
            box-shadow: 0 0 10px #485370;
            font-size: 22px; }
            .custom-quality-search .contents .details .d-contents .list .li-clicksty p {
              background-color: #fff;
              color: #4c555c; }
            .custom-quality-search .contents .details .d-contents .list .li-clicksty i {
              top: 60px;
              background-color: #00cd66; }
        .custom-quality-search .contents .details .d-contents .shadowbox {
          width: 500px;
          height: 533px;
          position: absolute;
          left: -13px;
          top: 6px;
          z-index: 889;
          background: #e5e5e9; }
        .custom-quality-search .contents .details .d-contents .details-contents-container {
          z-index: 888;
          position: relative; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no {
            width: 680px;
            height: 533px;
            margin-top: 12px;
            position: absolute;
            left: -490px;
            display: none;
            opacity: 1;
            background-color: #fff; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents {
              color: #f00; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents p, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents p, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents p, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents p {
                font-size: 20px;
                color: #4c555c;
                margin-top: 10px;
                margin-bottom: 30px;
                margin-left: 30px; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents p span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents p span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents p span, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents p span {
                  font-size: 12px;
                  color: #f4364f; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents div, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents div, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents div, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents div {
                width: 430px;
                position: relative; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents div i, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents div i, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents div i, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents div i {
                  position: absolute;
                  right: 20px;
                  bottom: 0px;
                  display: none; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout {
                margin-left: 118px;
                border-bottom: 1px solid #999;
                margin-bottom: 10px;
                position: relative; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout > p, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout > p, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout > p, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout > p {
                  color: #f00;
                  margin: 0;
                  margin-bottom: 5px; }
                  .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout > p > span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout > p > span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout > p > span, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout > p > span {
                    font-size: 16px;
                    color: #999999; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout > input, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout > input, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout > input, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout > input {
                  width: 300px;
                  height: 30px;
                  border: none;
                  color: #4c555c;
                  margin-bottom: 0px;
                  margin-left: 10px;
                  font-weight: bold; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout input:focus, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout input:focus, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout input:focus, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout input:focus {
                  outline: none; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout .ms-code, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout .ms-code, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout .ms-code, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout .ms-code {
                  position: absolute;
                  right: 0;
                  width: 100px;
                  top: 0; }
                  .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout .ms-code > img, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout .ms-code > img, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout .ms-code > img, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout .ms-code > img {
                    display: block;
                    width: 92px;
                    height: 40px;
                    background-color: #485370; }
                  .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout .ms-code > .changcode, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout .ms-code > .changcode, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout .ms-code > .changcode, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout .ms-code > .changcode {
                    color: #999;
                    font-size: 12px; }
                  .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout .ms-code .changcode:hover, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout .ms-code .changcode:hover, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout .ms-code .changcode:hover, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout .ms-code .changcode:hover {
                    color: #485370; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .layout .error-ms, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .layout .error-ms, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .layout .error-ms, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .layout .error-ms {
                  bottom: -20px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .button, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .button, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .button, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .button {
                width: 690px;
                margin-top: 30px;
                text-align: center; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .button span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .button span, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .button span, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .button span {
                  display: inline-block;
                  height: 36px;
                  width: 100px;
                  text-align: center;
                  line-height: 36px;
                  border-radius: 18px;
                  margin-bottom: 0;
                  border: 1px solid #f4364f;
                  cursor: pointer;
                  background-color: #f4364f;
                  color: #fff; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .detail-contents-ft .list-contents .button .rest, .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .list-contents .button .rest, .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .list-contents .button .rest, .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .list-contents .button .rest {
                  border-color: #4a4949;
                  background-color: #fff;
                  margin-right: 50px;
                  color: #4a4949; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container p {
            font-size: 20px;
            color: #4c555c;
            margin-top: 10px;
            margin-bottom: 30px;
            margin-left: 40px; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container p span {
              font-size: 12px;
              color: #f4364f; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container p .mobile-num {
              margin-left: 118px; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container div {
            width: 470px;
            position: relative; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container div i {
              position: absolute;
              right: 20px;
              bottom: 0px;
              color: #f00;
              display: none; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout {
            margin: 80px 0 80px 118px;
            border-bottom: 1px solid #999; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout > p {
              color: #f00;
              margin: 0;
              margin-bottom: 18px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout > p > span {
                font-size: 16px;
                color: #999999; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout > input {
              width: 300px;
              height: 30px;
              border: none;
              color: #4c555c;
              font-weight: bold;
              margin-bottom: 0px;
              margin-left: 10px; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout input:focus {
              outline: none; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout .ms-code {
              position: absolute;
              right: 0;
              width: 100px;
              top: 0; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout .ms-code > img {
                display: block;
                width: 92px;
                height: 40px;
                background-color: #485370; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout .ms-code > .changcode {
                color: #999;
                font-size: 12px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .layout .ms-code .changcode:hover {
                color: #485370; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .order-conf-btn {
            width: 690px;
            text-align: center;
            margin-top: 60px; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .order-conf-btn span {
              display: inline-block;
              height: 36px;
              width: 100px;
              text-align: center;
              line-height: 36px;
              border-radius: 18px;
              margin-bottom: 0;
              border: 1px solid #f4364f;
              cursor: pointer;
              background-color: #f4364f;
              color: #fff; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-no .order-no-container .order-conf-btn .rest {
              border-color: #4a4949;
              background-color: #fff;
              margin-right: 50px;
              color: #4a4949; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents {
            color: #f00; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents p {
              font-size: 20px;
              color: #4c555c;
              margin-top: 10px;
              margin-bottom: 30px;
              margin-left: 40px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents p span {
                font-size: 12px;
                color: #f4364f; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents div {
              width: 470px;
              position: relative; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents div i {
                position: absolute;
                right: 20px;
                bottom: 0px;
                display: none; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout {
              margin-left: 118px;
              border-bottom: 1px solid #999;
              margin-bottom: 10px;
              position: relative; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout > p {
                color: #f00;
                margin: 0;
                margin-bottom: 10px; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout > p > span {
                  font-size: 16px;
                  color: #999999; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout > input {
                width: 300px;
                height: 30px;
                border: none;
                color: #4c555c;
                margin-bottom: 0px;
                margin-left: 10px;
                font-weight: bold; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout input:focus {
                outline: none; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout .mobile-confcode {
                position: absolute;
                width: 100px;
                right: 0;
                bottom: 5px;
                text-align: right; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout .mobile-confcode .mobile-ms-btn {
                  display: block;
                  color: #f4364f;
                  width: 100px;
                  height: 20px;
                  line-height: 20px;
                  text-align: center;
                  font-size: 13px;
                  border-radius: 14px;
                  border: 1px solid #f4364f;
                  cursor: pointer;
                  text-decoration: none; }
                .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .layout .mobile-confcode .disabled {
                  color: #999;
                  border: 1px solid #999;
                  cursor: not-allowed; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .button {
              width: 690px;
              margin-top: 30px;
              text-align: center; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .button span {
                display: inline-block;
                height: 36px;
                width: 100px;
                text-align: center;
                line-height: 36px;
                border-radius: 18px;
                margin-bottom: 0;
                border: 1px solid #f4364f;
                cursor: pointer; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .order-name-car .onc-contents .button .rest {
                border-color: #4a4949;
                margin-right: 50px;
                color: #4a4949; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container p {
            font-size: 20px;
            color: #4c555c;
            margin-top: 10px;
            margin-bottom: 30px;
            margin-left: 40px; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container p span {
              font-size: 12px;
              color: #f4364f; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container p .mobile-num {
              margin-left: 118px; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container div {
            width: 470px;
            position: relative; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container div i {
              position: absolute;
              right: 20px;
              bottom: 0px;
              color: #f00;
              display: none; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout {
            margin: 80px 0 80px 118px;
            border-bottom: 1px solid #999; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout > p {
              color: #f00;
              margin: 0;
              margin-bottom: 18px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout > p > span {
                font-size: 16px;
                color: #999999; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout > input {
              width: 300px;
              height: 30px;
              border: none;
              color: #4c555c;
              font-weight: bold;
              margin-bottom: 0px;
              margin-left: 10px;
              font-weight: bold; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout input:focus {
              outline: none; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout .ms-code {
              position: absolute;
              right: 0;
              width: 100px;
              top: 0; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout .ms-code > img {
                display: block;
                width: 92px;
                height: 40px;
                background-color: #485370; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout .ms-code > .changcode {
                color: #999;
                font-size: 12px; }
              .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .layout .ms-code .changcode:hover {
                color: #485370; }
          .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .code-conf-btn {
            width: 690px;
            text-align: center; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .code-conf-btn span {
              display: inline-block;
              height: 36px;
              width: 100px;
              color: #4a4949;
              text-align: center;
              line-height: 36px;
              border-radius: 18px;
              margin-bottom: 0;
              border: 1px solid #4a4949;
              cursor: pointer; }
            .custom-quality-search .contents .details .d-contents .details-contents-container .code-no .code-no-container .code-conf-btn .confirm-btn {
              color: #f00;
              border: 1px solid #f00;
              margin-left: 50px; }

.all .result .detail .search {
  display: none; }

.quality-query-container {
  display: none;
  background-color: #e5e5e9;
  min-height: calc(100vh - 95px);
  margin-top: 40px;
  padding-top: 10px; }
  .quality-query-container .dashed-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    border-bottom: 2px dashed #d0d0d8; }
  .quality-query-container .show-title {
    display: block;
    width: 1190px;
    margin: 0 auto;
    font-size: 26px;
    color: #4c555c; }
  .quality-query-container .code-list {
    cursor: pointer; }
  .quality-query-container > .container {
    padding: 20px 0; }
  .quality-query-container .panel {
    margin-bottom: 20px;
    border: 0;
    border-radius: 0; }
  .quality-query-container .panel-heading {
    font-size: 20px;
    padding-left: 34px;
    position: relative;
    background: #ffffff; }
    .quality-query-container .panel-heading:before {
      content: '';
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 18px;
      width: 4px;
      background: #f4364f; }
  .quality-query-container .panel-body {
    padding: 24px 20px;
    line-height: 32px; }
    .quality-query-container .panel-body .table-hover {
      border-bottom: 1px solid #ddd; }
      .quality-query-container .panel-body .table-hover th {
        background: #efeff4;
        font-weight: 400; }
  .quality-query-container .btn-bottom {
    color: #fff;
    width: 100px;
    line-height: 36px;
    margin: 0 auto 80px;
    padding: 0;
    background-color: #485370;
    border-radius: 18px; }
  .quality-query-container .search-form {
    background: #ffffff;
    margin-bottom: 20px; }
    .quality-query-container .search-form .title {
      line-height: 60px;
      padding: 0 20px;
      font-size: 20px; }
    .quality-query-container .search-form .form-content {
      padding: 8px 30px; }
      .quality-query-container .search-form .form-content label {
        font-weight: 400; }
      .quality-query-container .search-form .form-content .form-control {
        display: inline-block; }
      .quality-query-container .search-form .form-content .bootstrap-select {
        margin-right: 24px; }
        .quality-query-container .search-form .form-content .bootstrap-select .dropdown-toggle {
          border-radius: 18px; }
      .quality-query-container .search-form .form-content span {
        margin: 0 12px; }
      .quality-query-container .search-form .form-content .query_time,
      .quality-query-container .search-form .form-content .query_order {
        display: none; }
        .quality-query-container .search-form .form-content .query_time > span,
        .quality-query-container .search-form .form-content .query_order > span {
          margin: 0 8px; }
        .quality-query-container .search-form .form-content .query_time.in,
        .quality-query-container .search-form .form-content .query_order.in {
          display: inline-block; }
        .quality-query-container .search-form .form-content .query_time > .btn-default,
        .quality-query-container .search-form .form-content .query_order > .btn-default {
          margin-left: 8px; }
      .quality-query-container .search-form .form-content .slash {
        position: relative;
        top: -4px;
        width: 14px;
        height: 2px;
        background: #000000;
        display: inline-block; }
      .quality-query-container .search-form .form-content .input-group {
        float: none;
        display: inline-block;
        vertical-align: middle;
        max-width: 140px;
        position: relative; }
        .quality-query-container .search-form .form-content .input-group + .btn-default {
          color: #485370;
          width: 86px;
          line-height: 32px;
          padding: 0;
          border: 1px solid #485370;
          border-radius: 17px;
          margin-left: 20px; }
          .quality-query-container .search-form .form-content .input-group + .btn-default:hover {
            color: #fff;
            background: #485370; }
        .quality-query-container .search-form .form-content .input-group.size-large {
          max-width: 244px; }
          .quality-query-container .search-form .form-content .input-group.size-large input {
            padding-right: 32px;
            border-radius: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            box-shadow: none; }
        .quality-query-container .search-form .form-content .input-group input {
          border-radius: 18px; }
        .quality-query-container .search-form .form-content .input-group i {
          position: absolute;
          right: 12px;
          top: 10px;
          pointer-events: none;
          z-index: 99; }
