@charset "UTF-8";
.admin-main-wrap {padding: 0 5%; }

.apx-admin-multi-list-wrap {margin: 40px 0; }

.apx-admin-multi-list {
  font-size: 12px;
  margin: 0 -1.5%; }
  .apx-admin-multi-list .col-xs-4 {
    height: 600px;
    padding: 20px 3%;
    overflow-y: hidden; }
    .apx-admin-multi-list .col-xs-4:before {
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3%;
      right: 3%;
      border: 1px solid #d6e7ff;
      background: #fff; }
    .apx-admin-multi-list .col-xs-4 .list-unstyled {
      height: 462px;
      overflow-y: auto;
      position: relative;
      z-index: 1; }
      .apx-admin-multi-list .col-xs-4 .list-unstyled + a.btn-danger {
        z-index: 1;
        position: relative;
        width: 80%;
        max-width: 208px;
        border-radius: 16px;
        margin: 16px auto 0; }
    .apx-admin-multi-list .col-xs-4 li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 40px;
      padding: 0 104px 0 12px;
      margin-right: 100px;
      line-height: 40px;
      margin: 2px 0;
      position: relative;
      border-bottom: 1px dashed #ccc; }
      .apx-admin-multi-list .col-xs-4 li > a {
        color: inherit;
        text-decoration: none; }
      .apx-admin-multi-list .col-xs-4 li .pull-right {
        position: absolute;
        right: 0;
        top: 0; }
      .apx-admin-multi-list .col-xs-4 li a.btn {
        color: #fff;
        padding: 3px 7px;
        margin: 0 4px; }
      .apx-admin-multi-list .col-xs-4 li .glyphicon-chevron-right:before {
        position: relative;
        top: 2px;
        vertical-align: middle; }
      .apx-admin-multi-list .col-xs-4 li:hover, .apx-admin-multi-list .col-xs-4 li.selected {
        background: #fce7e6; }
  .apx-admin-multi-list .input-group {
    border: 1px solid #e1e2e5;
    margin-bottom: 10px;
    height: 34px;
    border-radius: 18px; }
    .apx-admin-multi-list .input-group .input-group-addon,
    .apx-admin-multi-list .input-group .form-control {
      height: 34px;
      padding-top: 2px;
      padding-bottom: 2px;
      box-shadow: none;
      border: 0;
      background: transparent; }
      .apx-admin-multi-list .input-group .input-group-addon::-moz-placeholder,
      .apx-admin-multi-list .input-group .form-control::-moz-placeholder {
        color: #b2b2b2;
        opacity: 1; }
      .apx-admin-multi-list .input-group .input-group-addon:-ms-input-placeholder,
      .apx-admin-multi-list .input-group .form-control:-ms-input-placeholder {
        color: #b2b2b2; }
      .apx-admin-multi-list .input-group .input-group-addon::-webkit-input-placeholder,
      .apx-admin-multi-list .input-group .form-control::-webkit-input-placeholder {
        color: #b2b2b2; }

.apx-admin-multi-list-detail {
  margin: 20px 0;
  border: 1px solid #d6e7ff;
  background: #f5f9ff;
  font-size: 14px; }
  .apx-admin-multi-list-detail .title {
    background: #deeafb;
    font-size: 15px; }
    .apx-admin-multi-list-detail .title [class^='col-xs'] {
      margin: 0;
      line-height: 44px; }
      .apx-admin-multi-list-detail .title [class^='col-xs']:not(:last-child) {
        border-right: 1px solid #d6e7ff; }
  .apx-admin-multi-list-detail dl {
    margin: 20px 0;
    padding: 0 20px; }
  .apx-admin-multi-list-detail dt {
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 43px;
    margin: 10px 20px; }
  .apx-admin-multi-list-detail dd {
    padding-left: 140px; }
    .apx-admin-multi-list-detail dd label {
      min-width: 130px;
      margin: 10px; }
  .apx-admin-multi-list-detail .panel-body {
    margin-bottom: 20px; }

.apx-modal-get-cash .modal-content {
  border-radius: 12px;
  overflow: hidden; }

.apx-modal-get-cash .modal-header {
  background: #dcdcdc;
  padding-left: 32px;
  padding-right: 32px; }
  .apx-modal-get-cash .modal-header .close {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    outline: 0 !important; }
  .apx-modal-get-cash .modal-header img {
    margin-right: 8px;
    vertical-align: text-bottom; }

.apx-modal-get-cash legend {
  border-bottom: 0;
  margin-top: 12px; }

.apx-modal-get-cash label {
  font-weight: 400; }
  .apx-modal-get-cash label.radio-inline {
    font-size: 16px;
    padding-top: 12.5px;
    padding-bottom: 12.5px; }

.apx-modal-get-cash .form-control {
  border-radius: 0; }

.apx-modal-get-cash .form-control-static.h4 {
  margin: 0;
  padding-left: 0;
  font-size: 22px;
  line-height: 1;
  color: red; }

.apx-modal-get-cash .modal-footer {
  border-top: 0;
  text-align: left;
  padding: 0 0 60px; }
  .apx-modal-get-cash .modal-footer .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 184px;
    border-color: #f49d00;
    background: #f49d00;
    color: #fff;
    font-weight: 700; }

.apx-modal-get-cash .cash-after {
  position: relative; }
  .apx-modal-get-cash .cash-after:after {
    content: "元";
    position: absolute;
    right: -8px;
    top: 0;
    line-height: 44px; }

.apx-modal-acc-pwd .modal-dialog {
  position: absolute;
  height: 459px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-acc-pwd .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-acc-pwd .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-acc-pwd .modal-header .close {
    font-size: 36px;
    color: #cf4d44;
    outline: 0;
    opacity: 1; }

.apx-modal-acc-pwd .modal-title .h3 {
  color: #cf4d44;
  line-height: 40px;
  font-size: 18px; }

.apx-modal-acc-pwd .modal-body {
  padding: 50px 118px 10px 78px; }

.apx-modal-acc-pwd [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px; }

.apx-modal-acc-pwd label.control-label {
  font-weight: 400; }

.apx-modal-acc-pwd .validate-box {
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 32px;
  text-align: center; }

.apx-modal-acc-pwd .modal-footer {
  padding: 0;
  padding-top: 15px;
  border-top: 0;
  text-align: center; }
  .apx-modal-acc-pwd .modal-footer .btn {
    width: 150px;
    line-height: 40px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0;
    margin-bottom: 36px; }
  .apx-modal-acc-pwd .modal-footer .error-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    color: #cf4d44;
    font-size: 12px; }
    .apx-modal-acc-pwd .modal-footer .error-msg i {
      margin-right: 8px; }

.apx-modal-deal-order .modal-dialog {
  position: absolute;
  height: 385px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-deal-order .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-deal-order .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-deal-order .modal-header .close {
    font-size: 36px;
    color: #f58b00;
    outline: 0;
    opacity: 1; }

.apx-modal-deal-order .modal-title {
  line-height: 40px;
  color: #f58b00;
  letter-spacing: 2px; }
  .apx-modal-deal-order .modal-title .h3 {
    letter-spacing: 0;
    font-size: 18px; }

.apx-modal-deal-order .modal-body {
  letter-spacing: 1px;
  padding-top: 43px; }
  .apx-modal-deal-order .modal-body .form-group {
    margin-bottom: 10px; }
  .apx-modal-deal-order .modal-body .col-xs-3 {
    padding-right: 30px; }
  .apx-modal-deal-order .modal-body .col-xs-3 + .col-xs-3,
  .apx-modal-deal-order .modal-body .col-xs-8 {
    padding-left: 0;
    margin-left: -25px; }

.apx-modal-deal-order .modal-footer {
  padding: 5px 0 40px;
  border: 0;
  text-align: center; }
  .apx-modal-deal-order .modal-footer .btn {
    width: 120px;
    line-height: 36px;
    padding: 0;
    color: #fff;
    background: #f58b00;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0; }

.apx-modal-admin-add-attr-detail .modal-dialog {
  margin: 80px auto; }

.apx-modal-admin-add-attr-detail .modal-header {
  background: #ffd101;
  padding-top: 10px;
  padding-bottom: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .apx-modal-admin-add-attr-detail .modal-header .close {
    font-size: 24px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    color: #fff;
    opacity: .8;
    outline: 0 !important;
    position: relative;
    right: -45px; }
    .apx-modal-admin-add-attr-detail .modal-header .close span {
      display: inline-block;
      height: 100%; }

.apx-modal-admin-add-attr-detail .modal-body {
  padding-left: 24px;
  padding-right: 24px; }

.apx-modal-admin-add-attr-detail .form-group-attr-box {
  background: #f8f8f8;
  display: table-cell;
  width: 2000px;
  vertical-align: middle;
  height: 40px;
  border: 1px solid #999; }
  .apx-modal-admin-add-attr-detail .form-group-attr-box .form-group,
  .apx-modal-admin-add-attr-detail .form-group-attr-box label {
    margin-bottom: 0; }
  .apx-modal-admin-add-attr-detail .form-group-attr-box label {
    line-height: 30px;
    padding: 0; }
  .apx-modal-admin-add-attr-detail .form-group-attr-box .detail-promo-ammount {
    padding-left: 15px; }
  .apx-modal-admin-add-attr-detail .form-group-attr-box .input-group-addon {
    background: -webkit-linear-gradient(top, #fdfdfd, #dadada);
    background: linear-gradient(180deg, #fdfdfd, #dadada); }

.apx-modal-admin-add-attr-detail .attr-detail-box {
  margin-top: 24px; }

.apx-modal-admin-add-attr-detail .form-control {
  border-radius: 0; }

.apx-modal-admin-add-attr-detail .modal-footer {
  border-top: 0;
  text-align: left;
  padding: 0 0 20px; }
  .apx-modal-admin-add-attr-detail .modal-footer .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 184px;
    border-color: #ffd101;
    background: #ffd101;
    font-weight: 700; }

.apx-modal-admin-add-type .modal-header {
  color: #fff;
  background: #cf4d44;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 16px; }
  .apx-modal-admin-add-type .modal-header .close {
    font-size: 26px;
    font-weight: 100;
    background: rgba(0, 0, 0, 0.5);
    width: 24px;
    height: 24px;
    color: #fff;
    opacity: .8;
    outline: 0 !important;
    position: relative;
    right: 5px; }
    .apx-modal-admin-add-type .modal-header .close span {
      display: block;
      height: 24px;
      line-height: 20px;
      text-align: center; }

.apx-modal-admin-add-type .modal-body {
  padding: 60px 40px;
  font-size: 16px; }
  .apx-modal-admin-add-type .modal-body .form-group {
    margin-bottom: 0; }
  .apx-modal-admin-add-type .modal-body label {
    font-weight: 400;
    margin-bottom: 20px; }
  .apx-modal-admin-add-type .modal-body input.form-control {
    border-radius: 20px;
    height: 44px;
    font-size: 16px;
    padding: 6px 20px; }

.apx-modal-admin-add-type .modal-footer {
  border-top: 0;
  padding: 20px 15px 60px; }
  .apx-modal-admin-add-type .modal-footer .btn-block {
    width: 208px;
    margin: 0 auto;
    border-radius: 18px;
    height: 36px; }



/*编辑信息*/
.modal-body .edit-item{ padding: 0px;}
.modal-body .edit-item li{ list-style: none; height:50px; line-height:100%;}
.modal-body .edit-item li span{float:left;width:100px; height:50px; line-height:50px;}

.modal-body .edit-item li .roleName{ width: 60%; float:left;}
.modal-body .edit-item li .roleStatus{margin-top:20px;}
.modal-body .edit-item li .authName{ width: 60%; float:left;}

.modal-body .edit-item li select {border-radius: 10px; height: 40px;}
.auth-list-out{ width: 30%; float:left; border:1px solid #d6e7ff; height: 600px;}

.auth-list-out .T_auth_list{
    height: 527px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}
.auth-list-out .auth-list{ width:98%; padding: 10px; }
.auth-list-out .auth-folder{ height: 40px; line-height: 30px;padding:10px; border-bottom: 1px dotted #CCCCCC;}
.auth-list-out  .auth-sub{  padding:10px; width: 100%;  }

.auth-list-out .auth-sub li{float:left; width: 33%; height:30px; line-height:30px; list-style:none;}
.auth-list-out>a{z-index: 1;
    position: relative;
    width: 80%;
    max-width: 208px;
    border-radius: 16px;
    margin: 16px auto 0; }
.clf{clear: both; height: 1px;}