$size : 1/750 * 100vw;

.purchase-order-details-box {
    width: 750 * $size;
    color: #333;
    margin-bottom: 158 * $size;
    overflow: hidden;
    .purchase-order-details-top {
        color: #fff;
        height: 152 * $size;
        font-size: 36 * $size;
        padding: 0 30 * $size;
        background-color: #FF5E61;
        .waiting-for-delivery {
            line-height: 152 * $size;
        }
        .already-alone {
            padding-top: 30 * $size;
            >span {
                display: block;
                &.top-alone {
                    font-size: 26 * $size;
                }
            }
        }
    }
    .lading-code-box {
        background-color: #fff;
        .lading-code {
            height: 100 * $size;
            line-height: 100 * $size;
            background-color: #fff;
            font-size: 26 * $size;
            padding-right: 30 * $size;
            margin-left: 30 * $size;
            border-bottom: 2 * $size solid #E7E7E7;
            &-number {
                font-size: 50 * $size;
            }
            &-pic {
                float: right;
                width: 44 * $size;
                margin-top: 30 * $size;
                cursor: pointer;
            }
        }
    }
    .purchase-order-details-head {
        background-color: #fff;
        .head-cont {
            padding: 30 * $size;
            .head-tit {
                color: #7D7D7D;
                display: block;
                font-size: 25 * $size;
            }
            .head-user {
                font-size: 30 * $size;
                margin: 10 * $size 0;
                font-weight: bold;
                .user-name {
                    margin-right: 20 * $size;
                }
            }
            .head-addr {
                display: block;
                font-weight: bold;
                font-size: 30 * $size;
            }
            .self-lifting {
                display: block;
                font-size: 26 * $size;
                margin-top: 10 * $size;
            }
        }
        .head-pic {
            height: 10 * $size;
            vertical-align: bottom;
        }
    }
    .purchase-order-details-section {
        background-color: #fff;
        margin-top: 20 * $size;
        .sec-box {
            padding-bottom: 30 * $size;
            .sec-tit {
                padding: 0 30 * $size;
                height: 100 * $size;
                line-height: 100 * $size;
                font-size: 28 * $size;
                font-weight: bolder;
                .sec-icon {
                    width: 32 * $size;
                    margin-bottom: -4 * $size;
                }
                .sec-right {
                    float: right;
                    font-weight: normal;
                }
            }
            .sec-cont {
                height: 160 * $size;
                background-color: #FBFAFB;
                padding: 10 * $size 30 * $size;
                .sec-pic {
                    float: left;
                    width: 160 * $size;
                    height: 160 * $size;
                    background-color: #ccc;
                    >img {
                        width: 160 * $size;
                    }
                }
                .cont-txt {
                    float: left;
                    width: 500 * $size;
                    height: 165 * $size;
                    margin-left: 30 * $size;
                    position: relative;
                    >span {
                        display: block;
                        &.c-txt {
                            font-size: 28 * $size;
                            font-weight: bold;
                        }
                        &.txt-gray {
                            color: #AFAFAF;
                            width: 490 * $size;
                            height: 42 * $size;
                            font-size: 24 * $size;
                            overflow:hidden;
                            text-overflow:ellipsis;
                            white-space:nowrap;
                        }
                    }
                    .txt-box {
                        width: 500 * $size;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        .txt-money {
                            color: #F5222D;
                            font-size: 26 * $size;
                            font-weight: bolder;
                        }
                        .txt-number {
                            float: right;
                            font-size: 26 * $size;
                        }
                    }
                }
            }
            .sec-tips {
                color: #585C64;
                font-size: 22 * $size;
                padding: 34 * $size 30 * $size 0 30 * $size;
                .tips-icon-1 {
                    display: inline-block;
                    padding: 14 * $size;
                    background: url('/images/purchase_order_details/sele_28_icon.jpg') no-repeat center;
                    background-size: 100%;
                    margin-right: 4 * $size;
                    margin-bottom: -6 * $size;
                }
                .tips-icon-2 {
                    float: right;
                    padding: 4 * $size 14 * $size;
                    background: url('/images/purchase_order_details/more_28_icon.png') no-repeat center;
                    background-size: 100%;
                    margin-top: 14 * $size;
                }
            }
        }
        .sec-footer {
            font-size: 28 * $size;
            border-top: 2 * $size solid #efeff4;
            padding: 30 * $size 50 * $size 30 * $size 30 * $size;
            >span {
                &.foot-txt-1 {
                    display: inline-block;
                    width: 80 * $size;
                    margin-right: 20 * $size;
                    vertical-align: top;
                }
                .no-txt {
                    color: #ccc;
                    font-size: 16 * $size;
                }
            }
            .foot-txt-2 {
                display: inline-block;
                color: #000;
                width: 550 * $size;
                height: 70 * $size;
                resize : none;
                background-color: transparent;
                border-style: none;
                outline-style: none;
                margin-top: -3 * $size;
            }
        }
    }
    .purchase-order-details-cost {
        background-color: #fff;
        margin-top: 20 * $size;
        .cost-list {
            padding: 20 * $size 30 * $size;
            .cost-item {
                height: 55 * $size;
                line-height: 55 * $size;
                font-size: 26 * $size;
                .cost-txt {
                    float: right;
                }
            }
        }
        .cost-footer {
            border-top: 2 * $size solid #efeff4;
            padding: 30 * $size;
            >span {
                display: block;
                &.cost-number {
                    text-align: right;
                    font-size: 26 * $size;
                    margin-bottom: 10 * $size;
                }
                &.cost-money {
                    text-align: right;
                    font-size: 30 * $size;
                    .money-total {
                        color: #F5222D;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    .purchase-order-details-detail {
        background-color: #fff;
        margin-top: 20 * $size;
        .detail-list {
            padding: 30 * $size;
            background-color: #fff;
            .detail-item {
                height: 60 * $size;
                line-height: 60 * $size;
                font-size: 26 * $size;
                position: relative;
                .detail-tit {
                    color: #858585;
                }
                .d-txt {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .d-list {
                    width: 750 * $size;
                    background-color: #fff;
                    padding-left: 175 * $size;
                    margin-left: -30 * $size;
                    >li {
                        height: 60 * $size;
                        line-height: 60 * $size;
                    }
                }
                .detail-btn {
                    float: right;
                    color: #7D7D7D;
                    width: 80 * $size;
                    height: 34 * $size;
                    line-height: 34 * $size;
                    text-align: center;
                    font-size: 22 * $size;
                    border: 2 * $size solid #efeff4;
                    border-radius: 20 * $size;
                    margin-top: 10 * $size;
                }
                .zw-txt {
                    margin-left: 145 * $size;
                }
            }
        }
    }
}

.cargo-floating-layer {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    .layer-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 520 * $size;
        height: 546 * $size;
        border-radius: 20 * $size;
        background-color: #fff;
        position: absolute;
        .layer-tit {
            display: block;
            font-size: 40 * $size;
            margin: 40 * $size 0;
            text-align: center;
        }
        .qr-code {
            width: 280 * $size;
            height: 280 * $size;
            background-color: #ccc;
            margin: 0 auto;
            >img {
                width: 280 * $size;
            }
        }
        .layer-close {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 118 * $size;
            height: 118 * $size;
            margin-left: - 59 * $size;
            margin-bottom: -59 * $size;
            border-radius: 50%;
            background-color: #fff;
            >img {
                width: 118 * $size;
                cursor: pointer;
            }
        }
    }
}

.purchase-order-details-footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 710 * $size;
    padding: 20 * $size;
    background-color: #fff;
    text-align: right;
    border-top: 2 * $size solid #efeff4;
    .footer-btn {
        display: inline-block;
        width: 170 * $size;
        height: 56 * $size;
        line-height: 56 * $size;
        text-align: center;
        font-size: 28 * $size;
        border: 2 * $size solid #E7E7E7;
        border-radius: 30 * $size;
        margin-right: 10 * $size;
        &.f-btn {
            width: 225 * $size;
        } 
    }
}