.business-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &.ablum {
        background-image: url("/images/business/icons.png");
        background-position: -102px -0px;
    }
    &.about {
        background-image: url("/images/business/icons.png");
        background-position: -204px -408px;
    }
    &.account {
        background-image: url("/images/business/icons.png");
        background-position: -0px -102px;
    }
    &.add {
        background-image: url("/images/business/icons.png");
        background-position: -102px -102px;
    }
    &.at {
        background-image: url("/images/business/icons.png");
        background-position: -204px -0px;
    }
    &.back {
        background-image: url("/images/business/icons.png");
        background-position: -204px -102px;
    }
    &.bag {
        background-image: url("/images/business/icons.png");
        background-position: -0px -204px;
    }
    &.blacklist {
        background-image: url("/images/business/icons.png");
        background-position: -102px -204px;
    }
    &.call_in {
        background-image: url("/images/business/icons.png");
        background-position: -204px -204px;
    }
    &.call_out {
        background-image: url("/images/business/icons.png");
        background-position: -306px -0px;
    }
    &.call {
        background-image: url("/images/business/icons.png");
        background-position: -306px -102px;
    }
    &.close {
        background-image: url("/images/business/icons.png");
        background-position: -306px -204px;
    }
    &.comments {
        background-image: url("/images/business/icons.png");
        background-position: -0px -306px;
    }
    &.complete {
        background-image: url("/images/business/icons.png");
        background-position: -102px -306px;
    }
    &.data {
        background-image: url("/images/business/icons.png");
        background-position: -204px -306px;
    }
    &.delete_number {
        background-image: url("/images/business/icons.png");
        background-position: -306px -306px;
    }
    &.delete {
        background-image: url("/images/business/icons.png");
        background-position: -408px -0px;
    }
    &.dial {
        background-image: url("/images/business/icons.png");
        background-position: -408px -102px;
    }
    &.drafts {
        background-image: url("/images/business/icons.png");
        background-position: -408px -204px;
    }
    &.exit {
        background-image: url("/images/business/icons.png");
        background-position: -408px -306px;
    }
    &.favourite {
        background-image: url("/images/business/icons.png");
        background-position: -0px -408px;
    }
    &.feedback {
        background-image: url("/images/business/icons.png");
        background-position: -102px -408px;
    }
    &.follow {
        background-image: url("/images/business/icons.png");
        background-position: -0px -0px;
    }
    &.follower {
        background-image: url("/images/business/icons.png");
        background-position: -306px -408px;
    }
    &.friends {
        background-image: url("/images/business/icons.png");
        background-position: -408px -408px;
    }
    &.grade {
        background-image: url("/images/business/icons.png");
        background-position: -510px -0px;
    }
    &.history {
        background-image: url("/images/business/icons.png");
        background-position: -510px -102px;
    }
    &.home {
        background-image: url("/images/business/icons.png");
        background-position: -510px -204px;
    }
    &.letter {
        background-image: url("/images/business/icons.png");
        background-position: -510px -306px;
    }
    &.location {
        background-image: url("/images/business/icons.png");
        background-position: -510px -408px;
    }
    &.lock {
        background-image: url("/images/business/icons.png");
        background-position: -0px -510px;
    }
    &.message {
        background-image: url("/images/business/icons.png");
        background-position: -102px -510px;
    }
    &.more {
        background-image: url("/images/business/icons.png");
        background-position: -204px -510px;
    }
    &.pic {
        background-image: url("/images/business/icons.png");
        background-position: -306px -510px;
    }
    &.read_mode {
        background-image: url("/images/business/icons.png");
        background-position: -408px -510px;
    }
    &.refresh {
        background-image: url("/images/business/icons.png");
        background-position: -510px -510px;
    }
    &.remind {
        background-image: url("/images/business/icons.png");
        background-position: -612px -0px;
    }
    &.reply {
        background-image: url("/images/business/icons.png");
        background-position: -612px -102px;
    }
    &.search {
        background-image: url("/images/business/icons.png");
        background-position: -612px -204px;
    }
    &.setting {
        background-image: url("/images/business/icons.png");
        background-position: -612px -306px;
    }
    &.theme {
        background-image: url("/images/business/icons.png");
        background-position: -612px -408px;
    }
    &.tips {
        background-image: url("/images/business/icons.png");
        background-position: -612px -510px;
    }
    &.unfavourite {
        background-image: url("/images/business/icons.png");
        background-position: -0px -612px;
    }
    &.update {
        background-image: url("/images/business/icons.png");
        background-position: -102px -612px;
    }
    &.write {
        background-image: url("/images/business/icons.png");
        background-position: -204px -612px;
    }
}
