$blue: #459ae9;
.business-bank-extract {
	min-width: 1200px;
	color: #333;
	.header {
		border-bottom: 1px solid #efeef2;
		.h3 {
			font-size: 18px;
			font-weight: 700;
			margin: 0 50px;
			line-height: 58px;
		}	
		.balance {
			span {
				color: #e11144;
				font-weight: 700;
				font-size: 20px;
			}
		}
		.tip {
			padding-left: 18px;
			font-size: 14px;
			color: #808080;
			i {
				color: $blue;
				margin-right: 10px;
			}
		}
		.btn {
			color: $blue;
			text-decoration: underline;
			margin-top: 10px;
		}
	}
	.info {
		width: 800px;
		margin: 100px 214px;
		.form-group {
			display: block;
			margin: 50px 0;
			label {
				font-size: 16px;
				width: 130px;
			}
		}
		.form-control {
			width: 160px;
			margin: 0 10px 0 0;
		}
		.price {
			display: inline-block;
		}
		.bank-info {
			width: 650px;
			display: inline-block;
			background-color: #fafafa;
			font-size: 16px;
			line-height: 30px;
			padding-left: 40px;
			vertical-align: top;
			img {
				width: 24px;
				margin-right: 6px;
			}
			.name {
				padding-left: 36px;
			}
			.name, .card {
				margin: 6px 0;
			}
		}
		.btn-business {
			border-radius: 5px;
			background-color: $blue;
			padding: 8px 25px;
		}
		.br {
			width: 100%;
			height: 1px;
			background-color: #efeef2;
			margin: 50px 0;
		}
		.form-control {
			margin-right: 10px;
		}
		.forget {
			color: $blue;
		}
		.back {
			color: $blue;
			margin: 0 10px;
			font-size: 14px;
		}
		.add-new {
			width: 650px;
			display: inline-block;
			background-color: #fafafa;
			font-size: 14px;
			color: #df483d;
			line-height: 50px;
			padding-left: 11px;
			position: relative;
			i {
				font-size: 24px;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				width: 80%;
				padding-left: 12px;
				vertical-align: middle;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.bank-info {
			width: 650px;
			display: inline-block;
			background-color: #fafafa;
			font-size: 16px;
			line-height: 30px;
			padding-left: 40px;
			vertical-align: top;
			img {
				width: 24px;
				margin-right: 6px;
			}
			.name, .card {
				margin: 6px 0;
			}
		}
		.btn-business {
			border-radius: 5px;
			background-color: $blue;
			padding: 8px 25px;
		}
		.balance-tip {
			padding-left: 132px;
			color: #999;
			font-size: 14px;
			margin: 10px 0;
		}
		.error {
			padding-left: 132px;
			margin: 6px 0;
		}
	}
}