$pal: ( 
    0:#5d762a,
    1:#1eddff,
    2:#d2691e,
    3:#ffa500,
    4:#e4e4e4,
    5:#98fb98,
    6:#ffffb1,
    7:#bdb76b,
    8:#666,
    9:#4b0082,
    10:#041690,
    11:#ffffff,
    12:#ffb6c1,
    13:#dda0dd,
    14:#800080,
    15:#ff0000,
    16:#008000,
    17:#c8a970,
    18:#0000ff,
    19:#855b00,
    21:#990000,
    22:#ffff00,
    23:#000000
);

.pal {
       display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid #f8f8f8;
        margin: 0 4px;
}

// Generate classes for the palette color blocks
@each $key, $col in $pal {
    .pal-#{$key} {
        background-color: $col;
    }
}

.pal-20 {
 background: #eee url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".2"><rect x="50" width="50" height="50" /> <rect y="50" width="50" height="50" /> </svg>');
  background-size: 14px 14px;
}