.apx-acc-withdraw-form {
    .panel-body {
        padding-left: 60px;
        padding-right: 120px;
    }
    .form-horizontal {
        margin: 60px 0;
    }
    .form-group {
        label {
            // font-weight: 400;
            text-align: right;
            line-height: 32px;
            margin-bottom: 0;
        }
        .btn-default.btn-block {
            background: #eee;
        }
    }
    .btn-lg {
        width: 140px;
        margin: 0 auto 80px;
    }
}
