@charset "UTF-8";
body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.modal-sm {
  width: 460px !important; }

.apx-modal-get-cash .modal-content {
  border-radius: 12px;
  overflow: hidden; }

.apx-modal-get-cash .modal-header {
  background: #dcdcdc;
  padding-left: 32px;
  padding-right: 32px; }
  .apx-modal-get-cash .modal-header .close {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    opacity: 1;
    outline: 0 !important; }
  .apx-modal-get-cash .modal-header img {
    margin-right: 8px;
    vertical-align: text-bottom; }

.apx-modal-get-cash legend {
  border-bottom: 0;
  margin-top: 12px; }

.apx-modal-get-cash label {
  font-weight: 400; }
  .apx-modal-get-cash label.radio-inline {
    font-size: 16px;
    padding-top: 12.5px;
    padding-bottom: 12.5px; }

.apx-modal-get-cash .form-control {
  border-radius: 0; }

.apx-modal-get-cash .form-control-static.h4 {
  margin: 0;
  padding-left: 0;
  font-size: 22px;
  line-height: 1;
  color: red; }

.apx-modal-get-cash .modal-footer {
  border-top: 0;
  text-align: left;
  padding: 0 0 60px; }
  .apx-modal-get-cash .modal-footer .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 184px;
    border-color: #f49d00;
    background: #f49d00;
    color: #fff;
    font-weight: 700; }

.apx-modal-get-cash .cash-after {
  position: relative; }
  .apx-modal-get-cash .cash-after:after {
    content: "元";
    position: absolute;
    right: -8px;
    top: 0;
    line-height: 44px; }

.apx-modal-acc-pwd .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-acc-pwd label.control-label {
  font-weight: 400; }

.apx-modal-acc-pwd .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-acc-pwd .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-acc-pwd .modal-header .close {
    font-size: 36px;
    color: #999;
    outline: 0;
    opacity: 1; }
    .apx-modal-acc-pwd .modal-header .close:hover {
      color: #df483d; }

.apx-modal-acc-pwd .modal-title .h3 {
  color: #df483d;
  line-height: 40px;
  font-size: 18px; }

.apx-modal-acc-pwd .modal-body {
  padding: 50px 118px 10px 78px; }

.apx-modal-acc-pwd .modal-footer {
  padding: 0;
  padding-top: 15px;
  border-top: 0;
  text-align: center; }
  .apx-modal-acc-pwd .modal-footer .btn {
    width: 150px;
    line-height: 40px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0;
    margin-bottom: 36px; }
  .apx-modal-acc-pwd .modal-footer .info-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #666; }
    .apx-modal-acc-pwd .modal-footer .info-msg i {
      margin-right: 8px; }
  .apx-modal-acc-pwd .modal-footer .error-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #df483d; }
    .apx-modal-acc-pwd .modal-footer .error-msg i {
      margin-right: 8px; }

.apx-modal-acc-pwd .modal-dialog {
  height: 459px; }

.apx-modal-acc-pwd [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px; }

.apx-modal-acc-pwd .validate-box {
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 32px;
  text-align: center; }

.apx-modal-acc-recharge .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-acc-recharge label.control-label {
  font-weight: 400; }

.apx-modal-acc-recharge .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-acc-recharge .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-acc-recharge .modal-header .close {
    font-size: 36px;
    color: #999;
    outline: 0;
    opacity: 1; }
    .apx-modal-acc-recharge .modal-header .close:hover {
      color: #df483d; }

.apx-modal-acc-recharge .modal-title .h3 {
  color: #df483d;
  line-height: 40px;
  font-size: 18px; }

.apx-modal-acc-recharge .modal-body {
  padding: 50px 118px 10px 78px; }

.apx-modal-acc-recharge .modal-footer {
  padding: 0;
  padding-top: 15px;
  border-top: 0;
  text-align: center; }
  .apx-modal-acc-recharge .modal-footer .btn {
    width: 150px;
    line-height: 40px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0;
    margin-bottom: 36px; }
  .apx-modal-acc-recharge .modal-footer .info-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #666; }
    .apx-modal-acc-recharge .modal-footer .info-msg i {
      margin-right: 8px; }
  .apx-modal-acc-recharge .modal-footer .error-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #df483d; }
    .apx-modal-acc-recharge .modal-footer .error-msg i {
      margin-right: 8px; }

.apx-modal-acc-recharge .modal-dialog {
  height: 444px; }

.apx-modal-acc-recharge [class^='col-'] {
  padding-left: 5px;
  padding-right: 5px; }

.apx-modal-acc-recharge .modal-body {
  padding-top: 90px;
  padding-bottom: 60px; }

.apx-modal-acc-recharge input[type="radio"] {
  margin-top: 6px;
  margin-left: -28px;
  margin-right: 8px; }

.apx-modal-acc-recharge .btn-xs {
  min-width: 64px;
  line-height: 22px; }

.apx-modal-acc-recharge .btn-info {
  background: #00a9f2;
  border-color: #00a9f2; }
  .apx-modal-acc-recharge .btn-info:hover, .apx-modal-acc-recharge .btn-info:focus {
    background: #00a9f2;
    border-color: #00a9f2; }

.apx-modal-acc-recharge .btn-success {
  background: #3cb034;
  border-color: #3cb034; }
  .apx-modal-acc-recharge .btn-success:hover, .apx-modal-acc-recharge .btn-success:focus {
    background: #3cb034;
    border-color: #3cb034; }

.apx-modal-supply-shop-info .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-supply-shop-info label.control-label {
  font-weight: 400; }

.apx-modal-supply-shop-info .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-supply-shop-info .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-supply-shop-info .modal-header .close {
    font-size: 36px;
    color: #999;
    outline: 0;
    opacity: 1; }
    .apx-modal-supply-shop-info .modal-header .close:hover {
      color: #df483d; }

.apx-modal-supply-shop-info .modal-title .h3 {
  color: #df483d;
  line-height: 40px;
  font-size: 18px; }

.apx-modal-supply-shop-info .modal-body {
  padding: 50px 118px 10px 78px; }

.apx-modal-supply-shop-info .modal-footer {
  padding: 0;
  padding-top: 15px;
  border-top: 0;
  text-align: center; }
  .apx-modal-supply-shop-info .modal-footer .btn {
    width: 150px;
    line-height: 40px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0;
    margin-bottom: 36px; }
  .apx-modal-supply-shop-info .modal-footer .info-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #666; }
    .apx-modal-supply-shop-info .modal-footer .info-msg i {
      margin-right: 8px; }
  .apx-modal-supply-shop-info .modal-footer .error-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #df483d; }
    .apx-modal-supply-shop-info .modal-footer .error-msg i {
      margin-right: 8px; }

.apx-modal-supply-shop-info .modal-dialog {
  height: 514px; }

.apx-modal-supply-shop-info .modal-body {
  padding: 40px 60px 12px; }
  .apx-modal-supply-shop-info .modal-body label {
    padding: 0; }
  .apx-modal-supply-shop-info .modal-body .media,
  .apx-modal-supply-shop-info .modal-body .media-body {
    overflow: visible; }
  .apx-modal-supply-shop-info .modal-body [class^="col-xs-"] {
    padding: 0 6px; }

.apx-modal-supply-shop-info .modal-footer .btn {
  margin: 0 16px 16px; }

.apx-modal-supply-shop-info .modal-footer .btn-default {
  background: #e6e6e6;
  color: #333; }

.apx-modal-supply-shop-info .media .apx-update-photo {
  width: 132px;
  height: 132px;
  cursor: pointer;
  border: 1px solid #ccc;
  position: relative; }
  .apx-modal-supply-shop-info .media .apx-update-photo:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 4px;
    margin-left: -30px;
    margin-top: -1px;
    background: #ccc; }
  .apx-modal-supply-shop-info .media .apx-update-photo:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 4px;
    margin-top: -30px;
    margin-left: -1px;
    background: #ccc; }
  .apx-modal-supply-shop-info .media .apx-update-photo img {
    position: relative;
    z-index: 1;
    width: 130px;
    height: 130px; }

.apx-modal-supply-shop-info .media input[type='file'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.apx-modal-supply-shop-info .form-group:last-child {
  margin-bottom: 0; }

.apx-modal-warranty .result {
  display: none; }

.apx-modal-warranty .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.apx-modal-warranty label.control-label {
  font-weight: 400; }

.apx-modal-warranty .modal-content {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }

.apx-modal-warranty .modal-header {
  padding: 0 15px 0 50px;
  background: #e6e6e6; }
  .apx-modal-warranty .modal-header .close {
    font-size: 36px;
    color: #999;
    outline: 0;
    opacity: 1; }
    .apx-modal-warranty .modal-header .close:hover {
      color: #df483d; }

.apx-modal-warranty .modal-title .h3 {
  color: #df483d;
  line-height: 40px;
  font-size: 18px; }

.apx-modal-warranty .modal-body {
  padding: 50px 118px 10px 78px; }

.apx-modal-warranty .modal-footer {
  padding: 0;
  padding-top: 15px;
  border-top: 0;
  text-align: center; }
  .apx-modal-warranty .modal-footer .btn {
    width: 150px;
    line-height: 40px;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 4px;
    outline: 0;
    margin-bottom: 36px; }
  .apx-modal-warranty .modal-footer .info-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #666; }
    .apx-modal-warranty .modal-footer .info-msg i {
      margin-right: 8px; }
  .apx-modal-warranty .modal-footer .error-msg {
    border-top: 1px dashed #ccc;
    line-height: 60px;
    font-size: 12px;
    color: #df483d; }
    .apx-modal-warranty .modal-footer .error-msg i {
      margin-right: 8px; }

.apx-modal-warranty .modal-dialog {
  height: 370px; }

.apx-modal-warranty .modal-body {
  padding: 12px; }
  .apx-modal-warranty .modal-body > p {
    height: 200px;
    display: table-cell;
    width: 2000px;
    vertical-align: middle; }
    .apx-modal-warranty .modal-body > p .h2 {
      display: inline-block;
      margin-top: 18px;
      margin-bottom: 0; }

.apx-modal-warranty .modal-footer {
  padding-bottom: 28px; }
  .apx-modal-warranty .modal-footer .btn {
    margin: 0 50px;
    width: 100px;
    height: 34px;
    line-height: 34px; }
  .apx-modal-warranty .modal-footer .btn-default {
    background: #666; }

.apx-modal-deal-order {
  border-radius: 10px; }
  .apx-modal-deal-order .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-deal-order .modal-dialog {
    height: 450px; }
  .apx-modal-deal-order .modal-content {
    border-radius: 10px; }
  .apx-modal-deal-order .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-deal-order .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-deal-order .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-deal-order .modal-body {
    letter-spacing: 1px;
    padding-top: 43px; }
    .apx-modal-deal-order .modal-body .form-group {
      margin-bottom: 10px; }
    .apx-modal-deal-order .modal-body .col-xs-3 {
      padding-right: 30px; }
    .apx-modal-deal-order .modal-body .col-xs-3 + .col-xs-3,
    .apx-modal-deal-order .modal-body .col-xs-8 {
      padding-left: 0;
      margin-left: -25px; }
    .apx-modal-deal-order .modal-body .h3 {
      margin: 0; }
  .apx-modal-deal-order .modal-footer {
    padding: 5px 0 40px;
    border: 0;
    text-align: center; }
    .apx-modal-deal-order .modal-footer .btn {
      min-width: 120px; }

.apx-modal-admin-add-type {
  border-radius: 10px; }
  .apx-modal-admin-add-type .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-add-type .modal-dialog {
    height: 368px; }
  .apx-modal-admin-add-type .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-add-type .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-add-type .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-add-type .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-add-type .modal-body {
    padding: 60px 40px;
    font-size: 16px; }
    .apx-modal-admin-add-type .modal-body .form-group {
      margin-bottom: 0; }
    .apx-modal-admin-add-type .modal-body label {
      font-weight: 400;
      margin-bottom: 20px; }
    .apx-modal-admin-add-type .modal-body input.form-control {
      border-radius: 20px;
      height: 44px;
      font-size: 16px;
      padding: 6px 20px; }
  .apx-modal-admin-add-type .modal-footer {
    border-top: 0;
    padding: 20px 15px 60px; }
    .apx-modal-admin-add-type .modal-footer .btn-block {
      width: 208px;
      margin: 0 auto;
      border-radius: 18px;
      height: 36px; }

.apx-modal-admin-add-attr-detail {
  border-radius: 10px; }
  .apx-modal-admin-add-attr-detail .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-add-attr-detail .modal-dialog {
    height: 400px; }
  .apx-modal-admin-add-attr-detail .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-add-attr-detail .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-add-attr-detail .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-add-attr-detail .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-add-attr-detail .modal-body {
    padding-left: 24px;
    padding-right: 24px; }
  .apx-modal-admin-add-attr-detail .form-group-attr-box {
    background: #eee;
    display: table-cell;
    width: 2000px;
    vertical-align: middle;
    height: 40px;
    border: 1px solid #999; }
    .apx-modal-admin-add-attr-detail .form-group-attr-box .form-group,
    .apx-modal-admin-add-attr-detail .form-group-attr-box label {
      margin-bottom: 0; }
    .apx-modal-admin-add-attr-detail .form-group-attr-box label {
      line-height: 30px;
      padding: 0; }
    .apx-modal-admin-add-attr-detail .form-group-attr-box .detail-promo-ammount {
      width: 170px;
      padding-left: 15px; }
      .apx-modal-admin-add-attr-detail .form-group-attr-box .detail-promo-ammount .form-control {
        width: 90px; }
    .apx-modal-admin-add-attr-detail .form-group-attr-box .input-group-addon {
      background: linear-gradient(180deg, #fdfdfd, #dadada);
      cursor: pointer; }
  .apx-modal-admin-add-attr-detail .attr-detail-box {
    margin-top: 24px; }
  .apx-modal-admin-add-attr-detail .form-control {
    border-radius: 0; }
  .apx-modal-admin-add-attr-detail .modal-footer {
    border-top: 0;
    text-align: center;
    padding: 0 0 20px; }
    .apx-modal-admin-add-attr-detail .modal-footer .btn {
      min-width: 100px;
      margin: 0 12px; }

.apx-modal-admin-alert {
  border-radius: 10px; }
  .apx-modal-admin-alert .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-alert .modal-dialog {
    height: 300px; }
  .apx-modal-admin-alert .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-alert .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-alert .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-alert .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-alert .modal-body {
    padding: 20px 0px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5; }
    .apx-modal-admin-alert .modal-body i {
      color: #df483d;
      font-size: 36px;
      font-weight: 400;
      margin: 12px 0; }
      .apx-modal-admin-alert .modal-body i:before {
        vertical-align: middle;
        margin-right: 12px; }
  .apx-modal-admin-alert .modal-footer {
    border-top: 0;
    padding: 40px 15px 60px;
    text-align: center; }
    .apx-modal-admin-alert .modal-footer .btn {
      width: 100px;
      padding: 6px 16px;
      margin: 0 20px; }
  .apx-modal-admin-alert.admin-management .modal-body {
    font-size: 14px;
    padding-bottom: 0; }
    .apx-modal-admin-alert.admin-management .modal-body > .h4 {
      margin-top: 16px; }
      .apx-modal-admin-alert.admin-management .modal-body > .h4 + .row {
        margin-top: 18px; }
    .apx-modal-admin-alert.admin-management .modal-body .col-xs-8.col-xs-offset-4 {
      line-height: 28px; }
    .apx-modal-admin-alert.admin-management .modal-body.management-authen {
      padding: 48px 120px 20px; }
      .apx-modal-admin-alert.admin-management .modal-body.management-authen strong {
        white-space: nowrap;
        display: inline-block;
        padding: 28px 0; }
      .apx-modal-admin-alert.admin-management .modal-body.management-authen .form {
        text-align: left; }
        .apx-modal-admin-alert.admin-management .modal-body.management-authen .form label {
          margin-bottom: 12px; }
    .apx-modal-admin-alert.admin-management .modal-body.management-textarea {
      padding: 48px 80px 0; }
      .apx-modal-admin-alert.admin-management .modal-body.management-textarea strong {
        white-space: nowrap;
        display: inline-block;
        padding: 28px 0; }
      .apx-modal-admin-alert.admin-management .modal-body.management-textarea .form-group {
        margin-bottom: 0; }
      .apx-modal-admin-alert.admin-management .modal-body.management-textarea .form {
        text-align: left; }
        .apx-modal-admin-alert.admin-management .modal-body.management-textarea .form label {
          margin-bottom: 12px; }
        .apx-modal-admin-alert.admin-management .modal-body.management-textarea .form textarea {
          min-height: 60px;
          margin-top: 20px; }
  .apx-modal-admin-alert.admin-management .modal-footer {
    padding-bottom: 44px; }

.apx-modal-admin-brand-img {
  border-radius: 10px; }
  .apx-modal-admin-brand-img .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-brand-img .modal-dialog {
    height: 360px; }
  .apx-modal-admin-brand-img .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-brand-img .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-brand-img .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-brand-img .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-brand-img .modal-body {
    padding: 50px 80px 20px; }
    .apx-modal-admin-brand-img .modal-body label {
      font-weight: 400; }
    .apx-modal-admin-brand-img .modal-body .form-horizontal > .form-group:first-child label {
      line-height: 63px; }
    .apx-modal-admin-brand-img .modal-body .form-horizontal > .form-group:first-child .text-danger {
      margin-left: -40px;
      line-height: 70px; }
  .apx-modal-admin-brand-img .modal-footer {
    border: 0;
    padding-bottom: 50px; }
    .apx-modal-admin-brand-img .modal-footer .btn-block {
      margin: 0 auto;
      width: 200px; }
  .apx-modal-admin-brand-img .upload-box {
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative; }
    .apx-modal-admin-brand-img .upload-box:after {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: '+';
      text-align: center;
      font-weight: 100;
      font-size: 60px;
      color: #ccc;
      line-height: 1;
      cursor: pointer; }
    .apx-modal-admin-brand-img .upload-box img {
      display: block;
      width: 69px;
      height: 69px; }
  .apx-modal-admin-brand-img input[type='file'] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none; }

.apx-modal-admin-manage-role {
  border-radius: 10px; }
  .apx-modal-admin-manage-role .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-manage-role .modal-dialog {
    height: 500px; }
  .apx-modal-admin-manage-role .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-manage-role .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-manage-role .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-manage-role .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-manage-role .modal-dialog {
    width: 800px; }
    .apx-modal-admin-manage-role .modal-dialog .modal-lg {
      width: 800px; }
  .apx-modal-admin-manage-role .modal-body {
    padding: 20px 30px 0; }
    .apx-modal-admin-manage-role .modal-body > div {
      border-bottom: 1px solid #ccc; }
    .apx-modal-admin-manage-role .modal-body > .form-inline span.glyphicon {
      cursor: pointer;
      pointer-events: auto; }
    .apx-modal-admin-manage-role .modal-body > .form-inline .form-group {
      margin-bottom: 20px; }
      .apx-modal-admin-manage-role .modal-body > .form-inline .form-group:nth-child(3n+1) {
        width: 170px;
        margin-right: 36px; }
        .apx-modal-admin-manage-role .modal-body > .form-inline .form-group:nth-child(3n+1) .form-control {
          width: 120px; }
      .apx-modal-admin-manage-role .modal-body > .form-inline .form-group:nth-child(3n+2) .form-control {
        width: 200px; }
      .apx-modal-admin-manage-role .modal-body > .form-inline .form-group:nth-child(3n) {
        float: right; }
    .apx-modal-admin-manage-role .modal-body > .form {
      padding: 20px 0; }
      .apx-modal-admin-manage-role .modal-body > .form .checkbox {
        margin-right: 36px; }
      .apx-modal-admin-manage-role .modal-body > .form .list-unstyled {
        width: 750px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        white-space: nowrap;
        margin-bottom: 0; }
        .apx-modal-admin-manage-role .modal-body > .form .list-unstyled li {
          line-height: 28px;
          -webkit-box-flex: 1;
              -ms-flex: 1 1 12.5%;
                  flex: 1 1 12.5%;
          padding-right: 36px; }
  .apx-modal-admin-manage-role .modal-footer {
    padding: 36px;
    border: 0;
    text-align: center; }
    .apx-modal-admin-manage-role .modal-footer .btn {
      width: 100px;
      margin: 0 18px; }

.apx-modal-admin-withdraw-audit {
  border-radius: 10px; }
  .apx-modal-admin-withdraw-audit .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-withdraw-audit .modal-dialog {
    height: 480px; }
  .apx-modal-admin-withdraw-audit .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-withdraw-audit .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-withdraw-audit .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-withdraw-audit .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-withdraw-audit .modal-body {
    padding: 50px 80px 20px; }
    .apx-modal-admin-withdraw-audit .modal-body label {
      font-weight: 400; }
    .apx-modal-admin-withdraw-audit .modal-body .radio-box {
      text-align: center; }
      .apx-modal-admin-withdraw-audit .modal-body .radio-box label {
        font-size: 16px; }
      .apx-modal-admin-withdraw-audit .modal-body .radio-box .radio {
        display: inline-block;
        margin: 0 12px 30px; }
    .apx-modal-admin-withdraw-audit .modal-body textarea {
      resize: none; }
  .apx-modal-admin-withdraw-audit .modal-footer {
    border: 0;
    padding-bottom: 50px;
    text-align: center; }
    .apx-modal-admin-withdraw-audit .modal-footer .btn {
      margin: 0 15px;
      min-width: 100px; }

.apx-modal-admin-manage-staff {
  border-radius: 10px; }
  .apx-modal-admin-manage-staff .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-manage-staff .modal-dialog {
    height: 445px; }
  .apx-modal-admin-manage-staff .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-manage-staff .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-manage-staff .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-manage-staff .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-manage-staff .modal-body {
    padding: 50px 80px 20px; }
    .apx-modal-admin-manage-staff .modal-body label {
      margin-bottom: 0;
      line-height: 30px;
      white-space: nowrap; }
  .apx-modal-admin-manage-staff textarea {
    resize: none; }
  .apx-modal-admin-manage-staff .modal-footer {
    border: 0;
    padding-bottom: 50px;
    text-align: center; }
    .apx-modal-admin-manage-staff .modal-footer .btn {
      margin: 0 15px;
      min-width: 100px; }

.apx-modal-admin-manage-store {
  border-radius: 10px; }
  .apx-modal-admin-manage-store .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-admin-manage-store .modal-dialog {
    height: 460px; }
  .apx-modal-admin-manage-store .modal-content {
    border-radius: 10px; }
  .apx-modal-admin-manage-store .modal-header {
    color: #fff;
    background: #df483d;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-admin-manage-store .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-admin-manage-store .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-admin-manage-store .modal-body {
    margin: 20px 0;
    padding: 0 40px; }
    .apx-modal-admin-manage-store .modal-body .input-group {
      width: 100%; }
      .apx-modal-admin-manage-store .modal-body .input-group input {
        border-radius: 17px;
        padding-right: 40px;
        background: transparent; }
      .apx-modal-admin-manage-store .modal-body .input-group .input-group-btn {
        line-height: 30px; }
      .apx-modal-admin-manage-store .modal-body .input-group .btn {
        position: relative;
        z-index: 3;
        margin-left: -40px;
        background: transparent; }
    .apx-modal-admin-manage-store .modal-body .admin-management-panel {
      height: 260px;
      margin-top: 20px; }
  .apx-modal-admin-manage-store .modal-footer {
    border: 0;
    padding: 0;
    margin: 20px 0;
    text-align: center; }
    .apx-modal-admin-manage-store .modal-footer .btn {
      margin: 0 15px;
      min-width: 100px; }

.apx-modal-business-alert {
  border-radius: 10px; }
  .apx-modal-business-alert .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-business-alert .modal-dialog {
    height: 300px; }
  .apx-modal-business-alert .modal-content {
    border-radius: 10px; }
  .apx-modal-business-alert .modal-header {
    color: #fff;
    background: #0080ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-business-alert .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-business-alert .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-business-alert .modal-body {
    padding: 20px 0px;
    font-size: 16px;
    text-align: center;
    line-height: 1.5; }
    .apx-modal-business-alert .modal-body i {
      color: #df483d;
      font-size: 36px;
      font-weight: 400;
      margin: 12px 0; }
      .apx-modal-business-alert .modal-body i:before {
        vertical-align: middle;
        margin-right: 12px; }
  .apx-modal-business-alert .modal-footer {
    border-top: 0;
    padding: 40px 15px 60px;
    text-align: center; }
    .apx-modal-business-alert .modal-footer .btn {
      width: 100px;
      padding: 6px 16px;
      margin: 0 20px; }
  .apx-modal-business-alert.business-management .modal-body {
    font-size: 14px;
    padding-bottom: 0; }
    .apx-modal-business-alert.business-management .modal-body > .h4 {
      margin-top: 16px; }
      .apx-modal-business-alert.business-management .modal-body > .h4 + .row {
        margin-top: 18px; }
    .apx-modal-business-alert.business-management .modal-body .col-xs-8.col-xs-offset-4 {
      line-height: 28px; }
    .apx-modal-business-alert.business-management .modal-body.management-authen {
      padding: 48px 120px 20px; }
      .apx-modal-business-alert.business-management .modal-body.management-authen strong {
        white-space: nowrap;
        display: inline-block;
        padding: 28px 0; }
      .apx-modal-business-alert.business-management .modal-body.management-authen .form {
        text-align: left; }
        .apx-modal-business-alert.business-management .modal-body.management-authen .form label {
          margin-bottom: 12px; }
  .apx-modal-business-alert.business-management .modal-footer {
    padding-bottom: 44px; }
    .apx-modal-business-alert.business-management .modal-footer .btn-business {
      background-color: #0080ff;
      color: #fff; }

.apx-modal-business-manage-staff {
  border-radius: 10px; }
  .apx-modal-business-manage-staff .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-business-manage-staff .modal-dialog {
    height: 445px; }
  .apx-modal-business-manage-staff .modal-content {
    border-radius: 10px; }
  .apx-modal-business-manage-staff .modal-header {
    color: #fff;
    background: #0080ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-business-manage-staff .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-business-manage-staff .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-business-manage-staff .modal-body {
    padding: 50px 80px 20px; }
    .apx-modal-business-manage-staff .modal-body label {
      margin-bottom: 0;
      line-height: 30px;
      white-space: nowrap; }
  .apx-modal-business-manage-staff textarea {
    resize: none; }
  .apx-modal-business-manage-staff .modal-footer {
    border: 0;
    padding-bottom: 50px;
    text-align: center; }
    .apx-modal-business-manage-staff .modal-footer .btn {
      margin: 0 15px;
      min-width: 100px; }
    .apx-modal-business-manage-staff .modal-footer .btn-business {
      color: #fff;
      background-color: #0080ff; }

.apx-modal-business-manage-store {
  border-radius: 10px; }
  .apx-modal-business-manage-store .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .apx-modal-business-manage-store .modal-dialog {
    height: 460px; }
  .apx-modal-business-manage-store .modal-content {
    border-radius: 10px; }
  .apx-modal-business-manage-store .modal-header {
    color: #fff;
    background: #0080ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px; }
    .apx-modal-business-manage-store .modal-header .close {
      font-size: 36px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      color: #fff;
      opacity: .5;
      outline: 0;
      position: relative;
      right: 5px; }
      .apx-modal-business-manage-store .modal-header .close span {
        display: block;
        height: 24px;
        line-height: 20px;
        text-align: center; }
  .apx-modal-business-manage-store .modal-body {
    margin: 20px 0;
    padding: 0 40px; }
    .apx-modal-business-manage-store .modal-body .input-group {
      width: 100%; }
      .apx-modal-business-manage-store .modal-body .input-group input {
        border-radius: 17px;
        padding-right: 40px;
        background: transparent; }
      .apx-modal-business-manage-store .modal-body .input-group .input-group-btn {
        line-height: 30px; }
      .apx-modal-business-manage-store .modal-body .input-group .btn {
        position: relative;
        z-index: 3;
        margin-left: -40px;
        background: transparent; }
    .apx-modal-business-manage-store .modal-body .business-management-panel {
      height: 260px;
      margin-top: 20px; }
  .apx-modal-business-manage-store .modal-footer {
    border: 0;
    padding: 0;
    margin: 20px 0;
    text-align: center; }
    .apx-modal-business-manage-store .modal-footer .btn {
      margin: 0 15px;
      min-width: 100px; }
  .apx-modal-business-manage-store .btn-business {
    color: #fff;
    background-color: #0080ff; }

.apx-modal-business-water .modal-dialog {
  height: 265px; }

.apx-modal-business-water .modal-header,
.apx-modal-business-water .modal-content {
  border-radius: 0; }

.apx-modal-business-water .modal-content {
  border: 2px solid #b3b3b3; }

.apx-modal-business-water .modal-header {
  background: #fff;
  border-bottom: 2px solid #144fcc; }
  .apx-modal-business-water .modal-header .close {
    color: #144fcc;
    font-weight: 400;
    opacity: 1; }

.apx-modal-business-water .modal-body {
  padding: 55px 0;
  font-size: 20px;
  font-weight: 600; }
  .apx-modal-business-water .modal-body img {
    margin-right: 18px;
    vertical-align: middle; }

.apx-modal-business-water .modal-footer {
  padding: 0 0 36px; }
  .apx-modal-business-water .modal-footer .btn-business {
    border-radius: 17px;
    background: #0080ff;
    min-width: 100px;
    color: #fff; }

.custom-acc-aside {
  background: #fff;
  color: #333;
  width: 180px;
  min-height: 300px;
  padding: 0 20px 50px;
  position: relative; }
  .custom-acc-aside .acc-title {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    color: #eb2f2f;
    font-weight: bold; }
  .custom-acc-aside a {
    color: inherit;
    text-decoration: none; }
  .custom-acc-aside .acc-aside-list {
    border-bottom: 1px solid #e3e4e5; }
    .custom-acc-aside .acc-aside-list > a {
      display: block;
      line-height: 56px;
      font-size: 16px;
      padding-left: 28px;
      position: relative; }
      .custom-acc-aside .acc-aside-list > a::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 21px;
        width: 16px;
        height: 16px;
        background: url("/images/new-account/fold.png") no-repeat center; }
      .custom-acc-aside .acc-aside-list > a.collapsed::before {
        background: url("/images/new-account/unfold.png") no-repeat center; }
  .custom-acc-aside .list-unstyled {
    margin-bottom: 0; }
    .custom-acc-aside .list-unstyled > li {
      margin: 0;
      line-height: 36px;
      padding-left: 28px; }
      .custom-acc-aside .list-unstyled > li.active {
        color: #eb2f2f; }
      .custom-acc-aside .list-unstyled > li a {
        display: block; }
        .custom-acc-aside .list-unstyled > li a span {
          margin-left: 8px; }

img {
  vertical-align: top; }

.custom-account-container {
  margin-top: 20px;
  color: #333;
  position: relative; }
  .custom-account-container:before, .custom-account-container:after {
    content: " ";
    display: table; }
  .custom-account-container:after {
    clear: both; }
  .custom-account-container.no-head .account-header {
    display: none; }

.custom-acc-main {
  margin-left: 190px;
  padding: 0 20px;
  background: #fff;
  overflow: hidden; }
  .custom-acc-main a {
    text-decoration: none; }
  .custom-acc-main .refund-list-item .table td:not(:last-child) {
    border-right: 1px solid #ddd; }
  .custom-acc-main .apx-acc-title {
    line-height: 46px;
    padding: 0 26px;
    font-size: 14px;
    background: #e5e5e5;
    margin-bottom: 20px; }
    .custom-acc-main .apx-acc-title.statement-bg {
      background: #fff;
      padding: 0; }
    .custom-acc-main .apx-acc-title.refund-bg {
      background: #fff; }
    .custom-acc-main .apx-acc-title .apx-acc-order-nav {
      border: 0;
      margin: 0 -26px;
      padding: 10px; }
      .custom-acc-main .apx-acc-title .apx-acc-order-nav a {
        line-height: 30px; }
    .custom-acc-main .apx-acc-title .btn {
      border-radius: 0; }
    .custom-acc-main .apx-acc-title .pull-right {
      line-height: 1; }
      .custom-acc-main .apx-acc-title .pull-right .input-group {
        max-width: 250px;
        display: inline-table;
        float: left;
        margin-right: -2px; }
        .custom-acc-main .apx-acc-title .pull-right .input-group .form-control {
          height: 34px;
          border-radius: 0; }
    .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav {
      border: none; }
      .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right {
        padding: 8px 0; }
        .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .form-control {
          width: 120px;
          display: inline-block;
          vertical-align: middle; }
        .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div {
          display: none; }
          .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div > span {
            margin: 0 8px; }
          .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div.in {
            display: inline-block; }
          .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div > .btn-default {
            margin-left: 8px; }
        .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .input-group {
          float: none;
          vertical-align: middle;
          max-width: 150px; }
          .custom-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .input-group:last-child {
            margin-left: 4px; }
  .custom-acc-main .panel-heading .style-control {
    color: #999; }
    .custom-acc-main .panel-heading .style-control span {
      color: #333; }
    .custom-acc-main .panel-heading .style-control::first-child {
      color: #1f66d1; }
  .custom-acc-main .table {
    font-size: 12px; }
    .custom-acc-main .table thead span:not([class^='col-']) {
      margin-right: 34px; }
    .custom-acc-main .table .acc-media-box {
      width: 410px; }
    .custom-acc-main .table .media {
      font-size: 13px; }
      .custom-acc-main .table .media .list-unstyled {
        margin-bottom: 0;
        font-size: 0; }
        .custom-acc-main .table .media .list-unstyled li {
          display: inline-block;
          font-size: 12px;
          margin-right: 12px; }
    .custom-acc-main .table .media-left img {
      width: 87px;
      max-width: none;
      max-height: 87px; }
    .custom-acc-main .table .h4 {
      margin: 0; }
    .custom-acc-main .table td {
      line-height: 2;
      vertical-align: middle; }
    .custom-acc-main .table .no-border {
      border: 0; }
    .custom-acc-main .table.statement-table {
      border: none; }
      .custom-acc-main .table.statement-table thead {
        background: #fce7e6; }
        .custom-acc-main .table.statement-table thead th {
          line-height: 2.5;
          border: none; }
  .custom-acc-main .table-panel {
    border: 1px solid #ccc; }
    .custom-acc-main .table-panel.dashed th,
    .custom-acc-main .table-panel.dashed td {
      position: relative;
      border-top: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
      overflow: visible; }
    .custom-acc-main .table-panel thead {
      background: #e6e6e6; }
      .custom-acc-main .table-panel thead th {
        font-size: 14px;
        font-weight: 400;
        text-align: center !important; }
    .custom-acc-main .table-panel .tooltip-arrow {
      border-bottom-color: #ccc;
      position: relative; }
      .custom-acc-main .table-panel .tooltip-arrow:after {
        content: '';
        position: absolute;
        top: 2px;
        left: -5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 5px 5px;
        border-bottom-color: #fff; }
    .custom-acc-main .table-panel .tooltip-inner {
      background: #fff;
      color: #333;
      border: 1px solid #ccc;
      box-shadow: 0 0 4px #999;
      padding: 8px 12px; }
  .custom-acc-main .apx-acc-order-nav,
  .custom-acc-main .apx-add-order-nav {
    border: 0;
    font-weight: 600;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px; }
    .custom-acc-main .apx-acc-order-nav li,
    .custom-acc-main .apx-add-order-nav li {
      color: #333;
      margin-bottom: -2px; }
      .custom-acc-main .apx-acc-order-nav li a,
      .custom-acc-main .apx-add-order-nav li a {
        border: 0;
        padding: 0 6px;
        margin: 0 24px;
        line-height: 40px;
        border-bottom: 2px solid transparent;
        position: relative; }
        .custom-acc-main .apx-acc-order-nav li a:hover, .custom-acc-main .apx-acc-order-nav li a:active, .custom-acc-main .apx-acc-order-nav li a:focus,
        .custom-acc-main .apx-add-order-nav li a:hover,
        .custom-acc-main .apx-add-order-nav li a:active,
        .custom-acc-main .apx-add-order-nav li a:focus {
          border: 0;
          border-bottom: 2px solid transparent;
          background: none; }
      .custom-acc-main .apx-acc-order-nav li.active a,
      .custom-acc-main .apx-add-order-nav li.active a {
        background: transparent;
        color: #cf4d44;
        border-color: #cf4d44; }
  .custom-acc-main .acc-pay-again {
    position: relative;
    width: 64px;
    height: 22px;
    margin: 0 auto; }
    .custom-acc-main .acc-pay-again > a {
      display: block;
      border: 1px solid #cf4d44;
      color: #cf4d44;
      line-height: 20px;
      height: 22px;
      background: #fff;
      border-bottom-color: #fff;
      position: relative;
      z-index: 1; }
      .custom-acc-main .acc-pay-again > a.collapsed {
        border-bottom-color: #cf4d44; }
        .custom-acc-main .acc-pay-again > a.collapsed i {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
    .custom-acc-main .acc-pay-again i {
      margin-left: 2px;
      transition: -webkit-transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .custom-acc-main .acc-pay-again .collapse-box {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 21px;
      right: 0px;
      background: #fff;
      text-align: left;
      width: 130px;
      border: 1px solid #cf4d44; }
      .custom-acc-main .acc-pay-again .collapse-box .radio {
        margin: 12px 0 0 30px;
        z-index: 2; }
      .custom-acc-main .acc-pay-again .collapse-box .input-group-btn {
        display: block;
        margin: 16px auto 15px;
        width: auto;
        text-align: center; }
        .custom-acc-main .acc-pay-again .collapse-box .input-group-btn .btn {
          border-radius: 2px;
          margin: 0 4px; }

.account-header {
  height: 190px;
  margin-left: 190px;
  margin-bottom: 10px;
  padding: 30px 0;
  background: #fff; }
  .account-header > div {
    position: relative; }
    .account-header > div:nth-child(1)::after, .account-header > div:nth-child(2)::after {
      content: ' ';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 130px;
      background: #e6e6e6; }
  .account-header .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    .account-header .user-info .img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 114px;
              flex: 0 0 114px;
      width: 114px;
      height: 114px;
      border: 2px solid #eb2f2f;
      border-radius: 100px;
      overflow: hidden; }
      .account-header .user-info .img img {
        max-width: 100%; }
    .account-header .user-info .info {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 180px;
              flex: 0 0 180px;
      margin-left: 15px; }
      .account-header .user-info .info p {
        width: 180px; }
      .account-header .user-info .info .h3 {
        font-size: 16px;
        font-weight: bold;
        color: #eb2f2f;
        line-height: 1.3; }
      .account-header .user-info .info .name {
        font-size: 16px;
        font-weight: bold; }
  .account-header .handle a {
    text-decoration: none; }
  .account-header .handle img {
    margin: 10px 0; }
  .account-header .handle .title {
    font-size: 14px;
    color: #1f66d1;
    margin-top: 10px; }
  .account-header .handle > div {
    cursor: pointer; }
  .account-header .address {
    margin-top: 10px; }

.my-lately-order {
  padding: 20px 0 0 20px;
  background: #fff;
  overflow: hidden; }
  .my-lately-order .title {
    font-size: 16px;
    font-weight: bold; }
    .my-lately-order .title a {
      font-size: 12px;
      color: #999;
      margin-right: 20px;
      font-weight: normal; }
  .my-lately-order .item {
    width: 100%;
    font-size: 12px; }
    .my-lately-order .item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
    .my-lately-order .item img {
      width: 95px;
      height: 95px; }
    .my-lately-order .item td {
      padding: 20px 0;
      vertical-align: middle;
      text-align: center; }
      .my-lately-order .item td:last-child a {
        display: block;
        text-decoration: none;
        padding: 1px 0; }
        .my-lately-order .item td:last-child a:first-child {
          color: #1f66d1; }
    .my-lately-order .item p {
      margin: 5px 0; }
      .my-lately-order .item p.dis {
        color: #999; }

.top-title {
  padding: 20px 0 20px 20px;
  position: relative;
  color: #333;
  font-size: 16px;
  font-weight: bold; }
  .top-title::before {
    content: ' ';
    position: absolute;
    left: 10px;
    top: 22px;
    width: 4px;
    height: 18px;
    background: #eb2f2f; }
  .top-title + .br {
    height: 10px;
    background: #f6f6f6;
    margin: 0 -20px; }
