body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.apx-cart-address {
  position: relative;
  height: 170px;
  padding: 18px;
  background: url("/images/new-account/address/address_normal.jpg") no-repeat;
  background-size: 100%; }
  .apx-cart-address.active {
    background: url("/images/new-account/address/address_chosen.jpg") no-repeat;
    background-size: 100%; }
  .apx-cart-address h5 {
    margin: 0 0 18px;
    padding: 9px 0;
    border-bottom: 1px solid #ddd; }
  .apx-cart-address p {
    font-size: 12px; }
  .apx-cart-address .btn-link {
    padding-left: 0;
    color: #cf4d44;
    text-decoration: none; }

.apx-cart-address-box {
  border: 1px solid #ddd; }
  .apx-cart-address-box .col-xs-3,
  .apx-cart-address-box .col-xs-12 {
    padding: 10px; }
  .apx-cart-address-box .col-xs-12 {
    font-size: 12px; }
  .apx-cart-address-box a {
    text-decoration: none; }
    .apx-cart-address-box a.text-danger {
      color: #cf4d44; }
  .apx-cart-address-box .address-content {
    overflow: hidden; }
  .apx-cart-address-box .one {
    height: 170px; }

.apx-edit-address-title {
  padding: 0 10px;
  margin: 0;
  line-height: 50px;
  color: #cf4d44; }

.apx-edit-address-subtitle {
  padding: 0 30px;
  background: #fff;
  margin: 0;
  line-height: 50px;
  border-bottom: 1px solid #f2f2f2; }

.apx-edit-address-box {
  background: #fff;
  margin-bottom: 20px;
  padding: 10px 7px; }
  .apx-edit-address-box .col-xs-4,
  .apx-edit-address-box .col-xs-12 {
    padding: 10px 8px; }
  .apx-edit-address-box .col-xs-12 {
    font-size: 12px; }
  .apx-edit-address-box a {
    text-decoration: none; }
    .apx-edit-address-box a.text-danger {
      color: #cf4d44; }
  .apx-edit-address-box .apx-cart-address {
    height: 170px; }
    .apx-edit-address-box .apx-cart-address p {
      margin-bottom: 0px; }
      .apx-edit-address-box .apx-cart-address p:last-of-type {
        margin-bottom: 8px; }
    .apx-edit-address-box .apx-cart-address .position {
      width: 88%;
      position: absolute;
      bottom: 15px; }
    .apx-edit-address-box .apx-cart-address .address {
      height: 34px;
      overflow: hidden; }
    .apx-edit-address-box .apx-cart-address .del-confirm {
      border: 1px solid #eb2f2f;
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
      .apx-edit-address-box .apx-cart-address .del-confirm .del-title {
        margin: 56px 0 32px; }
  .apx-edit-address-box .popover-content {
    padding: 20px;
    text-align: center; }
    .apx-edit-address-box .popover-content .btn {
      width: 46px;
      height: 24px;
      font-size: 12px;
      padding: 0;
      margin: 0 5px; }
    .apx-edit-address-box .popover-content .J_adress_delete-confirm {
      border: 1px solid;
      background: #fce7e6;
      color: #cf4d44; }
    .apx-edit-address-box .popover-content .J_adress_delete-cancel {
      border: 1px solid #b2b2b2;
      background: #e5e5e5; }

.apx-edit-address-wrap {
  overflow: hidden; }

.apx-edit-address-form {
  padding: 20px;
  background: #fff; }
  .apx-edit-address-form .dropdown button.btn {
    color: #999;
    text-align: left; }
    .apx-edit-address-form .dropdown button.btn span {
      float: left;
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .apx-edit-address-form .dropdown button.btn i {
      float: right; }
  .apx-edit-address-form .dropdown-menu {
    margin-left: 15px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden; }
  .apx-edit-address-form .collapsing + .form-group,
  .apx-edit-address-form .collapse.in + .form-group {
    display: none; }
  .apx-edit-address-form textarea {
    height: 150px;
    resize: none; }
