@charset "UTF-8";
body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.apx-acc-aside {
  background: #181516;
  color: #fff;
  width: 240px;
  padding-bottom: 140px;
  margin-bottom: 312px;
  position: relative; }
  .apx-acc-aside.acc_expand .acc-aside-expand {
    -webkit-transform: translateX(934px);
            transform: translateX(934px); }
  .apx-acc-aside.acc_expand .acc-aside-expand-btn i.glyphicon {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .apx-acc-aside.acc_expand ~ .apx-acc-main {
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
    margin-bottom: 260px; }
  .apx-acc-aside .acc-aside-recmmend {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    max-height: 240px;
    overflow: hidden;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%); }
  .apx-acc-aside a {
    color: inherit;
    text-decoration: none; }
  .apx-acc-aside .acc-aside-avatar-wrap {
    height: 241px;
    position: relative; }
    .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-avatar {
      border-bottom: 1px solid #959595;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px 64px;
      background: #181516;
      z-index: 2;
      white-space: nowrap;
      line-height: 1.8;
      text-align: center; }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-avatar img {
        width: 112px;
        height: 112px; }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-avatar div {
        margin: 0 -32px; }
    .apx-acc-aside .acc-aside-avatar-wrap:after,
    .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #fff;
      width: 950px;
      z-index: 1; }
    .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 16px;
      background: rgba(255, 255, 255, 0.3);
      color: #414b90;
      line-height: 240px;
      cursor: pointer;
      transition: -webkit-transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear;
      text-align: center; }
    .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand {
      right: -16px;
      width: 930px;
      content: none;
      transition: -webkit-transform .4s;
      transition: transform .4s;
      transition: transform .4s, -webkit-transform .4s;
      background: #414b90;
      background: linear-gradient(-45deg, #414b90 14%, #4c5697 14%, #4c5697 36%, transparent 36%), linear-gradient(-60deg, #4c5697 40%, #414b90 40%, #414b90 42%, transparent 42%), linear-gradient(-35deg, #414b90 50%, transparent 50%), linear-gradient(-50deg, #47508d 54%, transparent 54%), linear-gradient(-130deg, #4c5697 70%, transparent 70%), linear-gradient(-45deg, #414b90 86%, #4c5697 86%); }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media {
        position: absolute;
        top: 50%;
        margin-top: -112px; }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-body {
        font-size: 14px; }
        .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-body li {
          padding: 0 16px;
          font-size: 13px; }
        .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-body strong {
          font-size: 14px; }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-right {
        min-width: 180px;
        padding: 0;
        vertical-align: baseline;
        padding-top: 55px; }
        .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-right .img-responsive {
          margin: 0 auto 10px; }
        .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .media-right strong {
          letter-spacing: 2px;
          font-size: 16px;
          display: block;
          margin-bottom: 1em; }
      .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .img-circle {
        margin: 42px auto 30px;
        width: 75px;
        height: 75px;
        line-height: 75px;
        border: 1px solid;
        text-align: center; }
        .apx-acc-aside .acc-aside-avatar-wrap .acc-aside-expand .img-circle img {
          display: inline; }
  .apx-acc-aside .acc-aside-list {
    border-bottom: 1px solid #959595; }
    .apx-acc-aside .acc-aside-list > a {
      display: block;
      line-height: 70px;
      font-size: 16px;
      padding: 0 28px 0 36px; }
      .apx-acc-aside .acc-aside-list > a.collapsed i.glyphicon {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      .apx-acc-aside .acc-aside-list > a i.glyphicon {
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        transition: transform .2s linear, -webkit-transform .2s linear;
        -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
        float: right; }
        .apx-acc-aside .acc-aside-list > a i.glyphicon:before {
          line-height: 70px; }
  .apx-acc-aside .list-unstyled {
    margin-bottom: 0; }
    .apx-acc-aside .list-unstyled > li {
      margin: 12px 0;
      line-height: 40px;
      padding: 0 28px 0 36px; }
      .apx-acc-aside .list-unstyled > li.active {
        background: #cf4d44; }
      .apx-acc-aside .list-unstyled > li a {
        display: block; }
        .apx-acc-aside .list-unstyled > li a span {
          margin-left: 8px; }

.apx-acc-main {
  transition: -webkit-transform .4s .4s;
  transition: transform .4s .4s;
  transition: transform .4s .4s, -webkit-transform .4s .4s;
  margin-left: 240px;
  padding-left: 20px;
  overflow: hidden; }
  .apx-acc-main a {
    text-decoration: none; }
  .apx-acc-main #tab_all {
    padding-bottom: 120px; }
  .apx-acc-main .apx-acc-order-nav,
  .apx-acc-main .apx-add-order-nav {
    border: 0;
    font-weight: 600;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 20px; }
    .apx-acc-main .apx-acc-order-nav li,
    .apx-acc-main .apx-add-order-nav li {
      color: #333;
      margin-bottom: -2px; }
      .apx-acc-main .apx-acc-order-nav li a,
      .apx-acc-main .apx-add-order-nav li a {
        border: 0;
        padding: 0 30px;
        line-height: 40px;
        border-bottom: 2px solid transparent;
        position: relative; }
        .apx-acc-main .apx-acc-order-nav li a:hover, .apx-acc-main .apx-acc-order-nav li a:active, .apx-acc-main .apx-acc-order-nav li a:focus,
        .apx-acc-main .apx-add-order-nav li a:hover,
        .apx-acc-main .apx-add-order-nav li a:active,
        .apx-acc-main .apx-add-order-nav li a:focus {
          border: 0;
          border-bottom: 2px solid transparent;
          background: none; }
        .apx-acc-main .apx-acc-order-nav li a:after,
        .apx-acc-main .apx-add-order-nav li a:after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -.5em;
          right: 0;
          width: 1px;
          height: 1em;
          background: #e5e5e5; }
      .apx-acc-main .apx-acc-order-nav li.active a,
      .apx-acc-main .apx-add-order-nav li.active a {
        background: transparent;
        color: #cf4d44;
        border-color: #cf4d44; }
  .apx-acc-main .h3 + .apx-acc-title {
    margin-top: 20px; }
  .apx-acc-main .apx-acc-title {
    line-height: 46px;
    padding: 0 26px;
    font-size: 14px;
    background: #e5e5e5;
    margin-bottom: 20px; }
    .apx-acc-main .apx-acc-title.bg-danger {
      background: #fce7e6; }
    .apx-acc-main .apx-acc-title .apx-acc-order-nav {
      border: 0;
      margin: 0 -26px;
      padding: 10px; }
      .apx-acc-main .apx-acc-title .apx-acc-order-nav a {
        line-height: 30px; }
    .apx-acc-main .apx-acc-title .btn {
      border-radius: 0; }
    .apx-acc-main .apx-acc-title .pull-right {
      line-height: 1; }
      .apx-acc-main .apx-acc-title .pull-right .input-group {
        max-width: 250px;
        display: inline-table;
        float: left;
        margin-right: -2px; }
        .apx-acc-main .apx-acc-title .pull-right .input-group .form-control {
          height: 34px;
          border-radius: 0; }
    .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right {
      padding: 8px 0; }
      .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .form-control {
        width: 120px;
        display: inline-block;
        vertical-align: middle; }
      .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div {
        display: none; }
        .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div > span {
          margin: 0 8px; }
        .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div.in {
          display: inline-block; }
        .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right > div > .btn-default {
          margin-left: 8px; }
      .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .input-group {
        float: none;
        vertical-align: middle;
        max-width: 150px; }
        .apx-acc-main .apx-acc-title .apx-acc-datepicker-nav .pull-right .input-group:last-child {
          margin-left: 4px; }
  .apx-acc-main .apx-acc-table-title td {
    background: #cf4d44;
    color: #fff; }
    .apx-acc-main .apx-acc-table-title td a {
      display: block;
      color: #fff; }
  .apx-acc-main .apx-acc-table-title ~ .table {
    margin-bottom: 40px; }
  .apx-acc-main .table {
    font-size: 12px; }
    .apx-acc-main .table thead span:not([class^='col-']) {
      margin-right: 34px; }
    .apx-acc-main .table .acc-media-box {
      width: 410px; }
    .apx-acc-main .table .media {
      font-size: 13px; }
      .apx-acc-main .table .media .list-unstyled {
        margin-bottom: 0;
        font-size: 0; }
        .apx-acc-main .table .media .list-unstyled li {
          display: inline-block;
          font-size: 12px;
          margin-right: 12px; }
    .apx-acc-main .table .media-left img {
      width: 87px; }
    .apx-acc-main .table .h4 {
      margin: 0; }
    .apx-acc-main .table td {
      line-height: 2;
      vertical-align: middle; }
    .apx-acc-main .table .no-border {
      border: 0; }
  .apx-acc-main .table-panel {
    border: 1px solid #ccc; }
    .apx-acc-main .table-panel.dashed th,
    .apx-acc-main .table-panel.dashed td {
      position: relative;
      border-top: 1px dashed #ccc;
      border-bottom: 1px dashed #ccc;
      overflow: visible; }
    .apx-acc-main .table-panel thead {
      background: #e6e6e6; }
      .apx-acc-main .table-panel thead th {
        font-size: 14px;
        font-weight: 400;
        text-align: center !important; }
    .apx-acc-main .table-panel .tooltip-arrow {
      border-bottom-color: #ccc;
      position: relative; }
      .apx-acc-main .table-panel .tooltip-arrow:after {
        content: '';
        position: absolute;
        top: 2px;
        left: -5px;
        border-color: transparent;
        border-style: solid;
        border-width: 0 5px 5px;
        border-bottom-color: #fff; }
    .apx-acc-main .table-panel .tooltip-inner {
      background: #fff;
      color: #333;
      border: 1px solid #ccc;
      box-shadow: 0 0 4px #999;
      padding: 8px 12px; }
  .apx-acc-main .acc-pay-again {
    position: relative;
    width: 64px;
    height: 22px;
    margin: 0 auto; }
    .apx-acc-main .acc-pay-again > a {
      display: block;
      border: 1px solid #cf4d44;
      color: #cf4d44;
      line-height: 20px;
      height: 22px;
      background: #fff;
      border-bottom-color: #fff;
      position: relative;
      z-index: 1; }
      .apx-acc-main .acc-pay-again > a.collapsed {
        border-bottom-color: #cf4d44; }
        .apx-acc-main .acc-pay-again > a.collapsed i {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
    .apx-acc-main .acc-pay-again i {
      margin-left: 2px;
      transition: -webkit-transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .apx-acc-main .acc-pay-again .collapse-box {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 21px;
      right: 0px;
      background: #fff;
      text-align: left;
      width: 130px;
      border: 1px solid #cf4d44; }
      .apx-acc-main .acc-pay-again .collapse-box .radio {
        margin: 12px 0 0 30px;
        z-index: 2; }
      .apx-acc-main .acc-pay-again .collapse-box .input-group-btn {
        display: block;
        margin: 16px auto 15px;
        width: auto;
        text-align: center; }
        .apx-acc-main .acc-pay-again .collapse-box .input-group-btn .btn {
          border-radius: 2px;
          margin: 0 4px; }

#J_statement_box a {
  color: blue; }

.apx-acc-wechat-detail {
  margin: 0 30px; }
  .apx-acc-wechat-detail .top-title {
    padding-left: 0; }
    .apx-acc-wechat-detail .top-title::before {
      display: none; }
    .apx-acc-wechat-detail .top-title .img-symbol {
      display: inline-block;
      vertical-align: bottom;
      height: 20px;
      width: 20px;
      background: url(/images/jinru.png) no-repeat; }
    .apx-acc-wechat-detail .top-title .article-title {
      font-weight: normal;
      font-size: 14px;
      color: #999; }
  .apx-acc-wechat-detail:before, .apx-acc-wechat-detail:after {
    content: " ";
    display: table; }
  .apx-acc-wechat-detail:after {
    clear: both; }
  .apx-acc-wechat-detail .pull-left {
    position: relative;
    width: 100%;
    margin-top: 10px; }
    .apx-acc-wechat-detail .pull-left::before {
      content: '';
      position: absolute;
      left: -50px;
      top: -11px;
      background-color: #f6f6f6;
      width: 112%;
      height: 10px; }
    .apx-acc-wechat-detail .pull-left .article-box {
      padding: 0 20px; }
      .apx-acc-wechat-detail .pull-left .article-box img {
        max-width: 100%;
        display: block;
        margin: 12px auto; }
      .apx-acc-wechat-detail .pull-left .article-box table {
        width: 100% !important; }
      .apx-acc-wechat-detail .pull-left .article-box .title {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        margin: 24px auto;
        margin-bottom: 80px; }
        .apx-acc-wechat-detail .pull-left .article-box .title strong p {
          color: #333;
          font-size: 20px;
          vertical-align: middle;
          margin-bottom: 20px; }
        .apx-acc-wechat-detail .pull-left .article-box .title p {
          font-size: 12px;
          font-weight: normal;
          color: #999; }
      .apx-acc-wechat-detail .pull-left .article-box .footer {
        position: relative;
        border-top: 1px dashed #ccc;
        padding: 20px 0; }
        .apx-acc-wechat-detail .pull-left .article-box .footer:before {
          content: '页脚';
          position: absolute;
          font-size: 12px;
          width: 30px;
          text-align: center;
          line-height: 1;
          background: #fff;
          left: 50%;
          margin-left: -12px;
          top: -6px;
          color: #808080; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .ke-container {
          margin-bottom: 20px; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .ke-edit {
          height: 120px; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .ke-statusbar {
          display: none; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .btn-link {
          color: #808080;
          margin-bottom: 20px; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .btn {
          outline: none; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .btn-default {
          border-radius: 5px;
          min-width: 50px;
          color: #fff;
          background-color: #eb2f2f;
          margin-bottom: 20px; }
          .apx-acc-wechat-detail .pull-left .article-box .footer .btn-default:hover {
            background: #df483d;
            color: #fff; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .btn-cancel {
          border: 1px solid #e3e4e5;
          border-radius: 5px;
          min-width: 50px;
          color: #333;
          background-color: #f6f6f6;
          margin-bottom: 20px;
          text-decoration: none; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .btn-compile {
          background-color: #fff;
          color: #eb2f2f;
          border: 1px solid #eb2f2f; }
        .apx-acc-wechat-detail .pull-left .article-box .footer .list-unstyled {
          margin-bottom: 20px; }
          .apx-acc-wechat-detail .pull-left .article-box .footer .list-unstyled li {
            line-height: 2;
            font-size: 12px; }
  .apx-acc-wechat-detail .aside {
    position: absolute;
    top: 0;
    right: 0; }
    .apx-acc-wechat-detail .aside .btn-block {
      max-width: 150px;
      border-radius: 16px;
      margin: 0 auto 50px; }
      .apx-acc-wechat-detail .aside .btn-block i {
        -webkit-transform: scaleX(-1);
                transform: scaleX(-1); }
    .apx-acc-wechat-detail .aside .qr-box {
      width: 94px;
      height: 114px;
      margin: 0 auto;
      border: 1px solid #999; }
      .apx-acc-wechat-detail .aside .qr-box p {
        margin: 0;
        color: #999; }
      .apx-acc-wechat-detail .aside .qr-box img {
        width: 68px;
        height: 68px; }
