.acc-edit-pwd .title {
  padding: 20px 0 20px 20px;
  position: relative; }
  .acc-edit-pwd .title::before {
    content: ' ';
    position: absolute;
    left: 10px;
    top: 22px;
    width: 4px;
    height: 16px;
    background: #eb2f2f; }

.acc-edit-pwd .form-box {
  margin-left: 185px;
  padding-bottom: 40px; }
  .acc-edit-pwd .form-box .error-msg {
    margin-right: 185px; }
  .acc-edit-pwd .form-box .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .acc-edit-pwd .form-box .form-group .control-label {
      width: 200px;
      margin-top: 6px;
      font-weight: normal; }
    .acc-edit-pwd .form-box .form-group input {
      width: 285px; }
    .acc-edit-pwd .form-box .form-group:last-child input {
      width: 200px; }
  .acc-edit-pwd .form-box .btn {
    padding: 6px 40px;
    margin-left: 240px;
    margin-top: 20px; }
