.hot-summer-container {
    min-width: 1190px;
    background: url('/images/hot_summer/beijing.png') no-repeat center/cover;
    overflow: hidden;
    position: relative;
    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
    .head-img {
        width: 100%;
    }
    .quick-nav {
        position: fixed;
        right: 0;
        top: 35%;
        width: 112px;
        a {
            display: block;
            img {
                display: block;
                width: 112px;
                height: 84px;
            }
            .top-img {
                height: 14px;
                width: 58px;
                margin: 0 auto;
                margin-top: 10px;
            }
        }


    }
    .pro-item-container {
        overflow: hidden;
        width: 100%;
        text-align: center;
        h2 {
            margin: 0;
            height: 150px;
            width: 100%;
            padding-top: 34px;
            background-color: #fff;
            background: url('/images/hot_summer/miaosha.png') no-repeat center;
            background-size: 586px auto;
            padding-bottom: 60px;
        }

        ul{
            width:1000px;
            height:676px;
            margin:0 auto 80px;
            margin-top: 20px;
            li{
                width:236px;
                height:340px;
                float:left;
                position:relative;
                margin:0 7px 16px;
                background:#ffffff;
                img{
                    width:236px;
                    height:236px;
                    display:block;
                    border:none;
                }
                strong{
                    font-weight:normal;
                    font-size:14px;
                    color:#808080;
                    display:block;
                    height:20px;
                    line-height:20px;
                    padding-top:5px;
                }
                span{
                    font-size:26px;
                    color:#f43043;
                    bottom:26px;
                    left:16px;
                    position:absolute;
                }
            }
        }
        .list2{
            height:1016px;
        }
        .list3{
            width:1020px;
            height: 300px;
            li{
                width:324px;
                height:146px;
                img{
                    width:146px;
                    height:146px;
                    top:0;
                    left:0;
                    position:absolute;
                }
                strong{
                    width:178px;
                    height:20px;
                    line-height:20px;
                    top:5px;
                    right:0;
                    position:absolute;
                    text-align:left;
                    box-sizing:border-box;
                    padding:0 10px;
                }
                span{
                    bottom:10px;
                    right:10px;
                    position:absolute;
                    height:auto;
                    text-align:right;
                }
            }
        }

    }

    .small-pro {
        background: url('/images/hot_summer/haowubeijing.png') no-repeat center/cover;
        h2 {
            background: url('/images/hot_summer/biyan.png') no-repeat center #fff;
            background-size: 586px auto;
            height: 150px;
            padding-top: 34px;
            padding-bottom: 34px;
        }
    }

    .store-nec {
        background: url('/images/hot_summer/haowubeijing.png') no-repeat center/cover;
        h2 {
            background: url('/images/hot_summer/dapinpai.png') no-repeat center #fff;
            background-size: 586px auto;
            height: 150px;
        }
    }

    .gift-pro {
        h2 {
            background: url('/images/hot_summer/maichanpin.png') no-repeat center;
            background-size: 586px auto;
            height: 150px;
        }
    }

    .big-title {
        height: 446px;
        background: url('/images/hot_summer/dabiaoti.png') no-repeat center/cover;
        width: 100%;
    }
    .to-top {
        display: block;
        width: 418px;
        height: 38px;
        background: url('/images/hot_summer/fahui.png') no-repeat center/cover;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
