.custom-quality-result {
    width: 1200px;
    margin: 0 auto;
    color: #333;
    .quality-result-container {
        min-height: 600px;
        margin-bottom: 100px;
        padding: 30px;
        background-color: #fff;
        .result-title {
            font-size: 18px;
            margin-bottom: 20px;
            span {
                color: #ff7111;
            }
        }
        .result-list {
            width: 100%;
            th {
                font-size: 14px;
                font-weight: normal;
                color: #9a9a9a;
                background: #f5f5f5;
            }
            th,
            td {
                text-align: center;
                line-height: 58px;
            }
            td {
                a {
                    color: #30a5ff;
                    &:hover {
                        color: #337ab7;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid #f5f5f5;
                    &:hover {
                        td {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }

}
.apx-footer.container-fluid {
    background-color: transparent;
}