.new-invite-10 {
    margin-bottom: 50px;
    img {
        max-width: 100%;
        vertical-align: top;
    }
    .footer {
        position: relative;
    }
    .invite_now {
        display: block;
        width: 100%;
        height: 20vw;
        position: absolute;
        left: 0;
        bottom: 10vw;
    }
}