$baseV: 1 / 750 * 100vw;
.login-new {
    .wechat-tip {
        width: 100%;
        height: 30px;
        background-color: #fce7e6;
        text-align: center;
        p {
            margin: 0;
            height: 30px;
            line-height: 30px;
            padding-left: 30px;
            background: url('/images/login/tip.png') no-repeat 8px center;
        }
    }
    .wechat-login-new {
        min-height: 100%;
        text-align: center;
        overflow: hidden;
        color: #fff;
        .logo {
            width: 160px;
            margin: 20px auto 0;
            img {
                width: 100%;
            }
        }
        h3 {
            margin: 4px 0 12px;
            font-size: 20px;
        }
        .form-group {
            margin: 0 auto 15px;
            background: #efeff4;
            width: 90%;
            border-radius: 8px;
            display: flex;
            height: 40px;
            align-items: center;
            label,
            input {
                flex: 1 1 auto;
            }
            label {
                max-width: 20%;
                position: relative;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 60%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    bottom: 6px;
                    right: 0;
                    width: 1px;
                    background: #9d9d9d;
                }
            }
            input {
                max-width: 75%;
                background: transparent;
                border: 0;
                font-size: 14px;
                padding: 0 15px;
                outline: 0;
                color: #9d9d9d;
                &::-webkit-input-placeholder {
                    color: #9d9d9d;
                }
            }
        }
        .error-msg {
            margin: 20px auto 30px;
            visibility: hidden;
            &.in {
                visibility: visible;
            }
        }
        .login-btn {
            display: flex;
            margin: 0 15px;
            >.btn {
                flex: auto;
                border: 0;
                margin: 12px 5px;
                text-align: center;
                font-size: 16px;
                line-height: 2;
                border-radius: 8px;
                color: #fff;
                line-height: 40px;
                letter-spacing: 8px;
                border: 1px solid;
            }
            .btn-register {
                border: 1px solid #fff;
            }
            .btn-login {
                color: #ff9100;
                border-color: transparent;
                background-color: #FFF;
            }
        }
        .wechat-login {
            margin-top: 10px;
            text-align: center;
            background-color: transparent;
            p {
                margin-bottom: 8px;
                position: relative;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: 35%;
                    height: 1px;
                }
                &:before {
                    left: 0;
                    background: linear-gradient(to left, #fff, transparent)
                }
                &:after {
                    right: 0;
                    background: linear-gradient(to right, #fff, transparent)
                }
            }
            .wechat-btn {
                margin: 12px auto 20px;
                color: #fff;
            }
            img {
                width: 60px;
                display: block;
                margin: 0 auto 4px;
            }
        }
        .mobile {
            a {
                color: #fff;
                margin-bottom: 10px;
            }
        }
    }
}
