$base: 1 / 750 * 100%;
$baseV: 1 / 750 * 100vw;
nav.bottom-nav-my-order {
    max-width: 640px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: inherit;
    margin: auto;
    z-index: 999;
}
nav.bottom-nav-my-order {
    background: #fff; 
    height: 44px;
    display: flex;
    position: fixed;
    span{
        flex: 1;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        line-height: 44px;
    }
    .btn { 
        display: block; 
        font-size: 12px; 
        color: #ff9100; 
        position: absolute; 
        right: 20px; 
        top: 9px;; 
        border: 1px solid #ff9100; 
        border-radius: 100px; 
        padding: 3px 8px; 
    }
}
nav.bottom-nav-my-orders {
    max-width: 640px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: inherit;
    margin: auto;
    z-index: 999;
    box-shadow: none;
}
nav.bottom-nav-my-orders {
    background: #fff;
    height: 40px;
    position: fixed;
    margin-top: 44px;
    + main.containerorder{
        top: 44px;
        padding-top: 89px;
        background-color: #efeff4;
    }
    div{
        width: 100%;
        border-top: 1px solid #f2f2f2;
        display: flex;
        span{
            flex: 1;
            display: flex;
            justify-content: center;
            font-size: 14px;
            text-align: center;
            line-height: 34px;
        }
        .spam-first{
            color: #ff9100;
            border-bottom: 2px solid #ff9100;
        }
    }
    a{
        -ms-flex: 1 1 15%;
        flex: 1 1 15%;
        &:first-child {
            border-right: 0px solid #ccc;
            i {
                background-image: url('/images/orderDetails/return.png')
            }
        }
    }
}
.my_order{
    color: #333;
    .panel-body{
        margin-top: 5px;
        background-color: #FFFFFF;
        padding-bottom:50px;
        .acc-latest-order{
            padding: 0;
            border-bottom: 8px solid #f2f2f2;
            .title{
                font-size: 13px;
                line-height: 40px;
                padding: 0 10px;
                span {
                    &:first-child {
                        display: inline-block;
                        padding-left: 22px;
                        background: url('/images/icons/shop_38_icon.png') no-repeat left center;
                        background-size: 17px;
                    }
                    &:last-child {
                        float: right;
                        font-size: 15px;
                        color: #ff9100;
                    }
                }
            }
            .border-box{
                background-color: #fafafa;
                a{
                    margin-bottom: 5px;
                    &:last-child{
                        border-bottom: 0px;
                    }
                    .order-item {
                        display: flex;
                        margin: 0;
                        padding: 5px;
                        border-bottom: 5px solid #fff;
                        aside {
                            width: 80px;
                            height: 80px;
                            min-width: 80px;
                            min-height: 80px;
                            margin-right: 8px;
                            border: none;
                            background-color: #FFF;
                            img{
                                max-width:100%;
                                max-height:100%;
                            }
                        }
                        main {
                            position: relative;
                            width: 100%;
                            .description {
                                height: 41px;
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                            .param {
                                color: #999;
                                span {
                                    margin-right: 4px;
                                }
                            }
                            .price {
                                font-size: 13px;
                                span {
                                    color: #fe5e5e;
                                }
                            }
                            .ammount {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                &:before {
                                    content: 'x'
                                }
                            }
                        }
                    }
                }
            }
            small{
                text-align: right;
                line-height: 2.5;
                display: block;
                font-size: 12px;
            }
            .total-info {
                display: flex;
                line-height: 44px;
                span {
                    flex: 1;
                    &:first-child {
                        color: #999;
                        margin-left: 10px;
                    }
                    &:last-child {
                        color: #333;
                        text-align: right;
                        margin-right: 10px;
                    }
                }
            }
            .handle-btn {
                display: flex;
                flex-direction: row-reverse;
                height: 44px;
                border-top: 1px solid #f2f2f2;
                .btn {
                    width: 89px;
                    color: #b2b2b2;
                    border: 1px solid #b2b2b2;
                    border-radius: 100px;
                    text-align: center;
                    margin: 8px;
                    line-height: 26px;
                }
                .btn-pay {
                    color: #ff9100;
                    border-color: #ff9100;
                }
            }
        }
    }
}
