.wechat-product-tools {
	background-color: #f2f2f2;
	p {
		margin: 0;
	}
	.head {
		display: flex;
		margin: 0 2%;
		.item {
			background-color: #eee;
			flex: 1 0 30%;
			a {
				margin: 6% 4%;
				padding: 46% 0;
				text-align: center;
				color: #c0a248;
				font-size: 14px;
				font-weight: 700;
				background: url('/images/apex_brand/tools/fenlei_bg.png') no-repeat center;
				background-size: 100%;
			}
		}
	}
	.pro {
		.header {
			margin: 4% 0;
			position: relative;
			img {
				max-width: 100%;
			}
			p {
				width: 100%;
				color: #fff;
				position: absolute;
				text-align: center;
				margin-top: -14.8%;
				font-size: 14px;
				font-weight: 700;
			}
		}
		.items {
			display: flex;
			flex-wrap: wrap;
			margin: 4% 0;
			.item {
				flex: 1 0 48%;
				margin: 2% 1%;
				text-align: center;
				img {
					width: 100%;
				}
				.h1 {
					font-weight: 700;
					margin: 1% 0;
				}
				.h2 {
					background: url('/images/apex_brand/tools/price_bg.png') no-repeat center;
					background-size: 100%;
					color: #fff;
				}
			}
			.item-odd {
				width: 100%;
				margin-top: 4%;
				background-color: #FFF;
				position: relative;
				img {
					max-width: 50%;
				}
				.title {
					position: absolute;
					top: 20%;
					right: 0;
					width: 48%;
					.h1 {
						font-size: 14px;
						font-weight: 700;
					}
					.h3 {
						text-align: center;
						color: #666;
					}
					.h2 {
						background: url('/images/apex_brand/tools/price_bg.png') no-repeat center;
						background-size: 100%;
						color: #fff;
						text-align: center;
						margin-top: 15%;
					}
				}
			}
		}
	}
}