body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.custom-active-description {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }
  .custom-active-description img {
    display: block;
    margin: 30px auto; }
