.easy-buy-container {
  text-align: center;
  overflow-x: hidden;
  background: url("/images/easy_buy/bg_129.png") no-repeat center 690px;
  padding-bottom: 100px; }
  .easy-buy-container .part-container {
    width: 1190px;
    margin: 0 auto;
    margin-top: 130px; }
    .easy-buy-container .part-container.Auto-spare-parts {
      margin-top: 65px; }
    .easy-buy-container .part-container .title-img {
      margin-bottom: 30px; }
    .easy-buy-container .part-container .goods-container {
      background-color: #55037F;
      padding: 20px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .easy-buy-container .part-container .goods-container .goods-item {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
        text-align: left;
        text-decoration: none;
        margin-right: 8px;
        border: 1px solid #fff; }
        .easy-buy-container .part-container .goods-container .goods-item:last-child {
          margin-right: 0px; }
        .easy-buy-container .part-container .goods-container .goods-item .item-detail {
          padding: 18px 0 30px 10px;
          position: relative;
          background-color: #8506C4; }
          .easy-buy-container .part-container .goods-container .goods-item .item-detail .item-describe {
            width: 366px;
            font-size: 20px;
            color: #fff; }
          .easy-buy-container .part-container .goods-container .goods-item .item-detail .price {
            color: #fefa00;
            font-size: 24px;
            margin-bottom: 0px;
            font-weight: bold; }
          .easy-buy-container .part-container .goods-container .goods-item .item-detail .buy-now {
            position: absolute;
            right: 40px;
            bottom: 36px;
            display: block;
            width: 97px;
            height: 24px;
            background: url("/images/easy_buy/s_y_buy.png"); }
    .easy-buy-container .part-container .goods-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin-top: 8px; }
      .easy-buy-container .part-container .goods-box .box-item {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #fff;
        text-decoration: none; }
        .easy-buy-container .part-container .goods-box .box-item:first-child {
          margin-right: 10px; }
        .easy-buy-container .part-container .goods-box .box-item .item-detail {
          -webkit-box-flex: 1;
              -ms-flex: auto;
                  flex: auto;
          padding: 48px 0 16px 16px;
          text-align: left;
          background-color: #9A17DC;
          width: 290px; }
          .easy-buy-container .part-container .goods-box .box-item .item-detail .describe {
            font-size: 20px;
            color: #fff;
            margin-bottom: 42px; }
          .easy-buy-container .part-container .goods-box .box-item .item-detail .short {
            font-size: 18px;
            color: #CCC;
            margin-bottom: 28px; }
          .easy-buy-container .part-container .goods-box .box-item .item-detail .price {
            color: #fefa00;
            font-size: 30px;
            margin-bottom: 26px;
            font-weight: bold; }
  .easy-buy-container .goods-container-layout {
    display: auto; }
    .easy-buy-container .goods-container-layout .goods-part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .easy-buy-container .goods-container-layout .goods-part .goods-item {
        margin-right: 10px;
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto; }
  .easy-buy-container .On-board-electrical .goods-container {
    background-color: #9E029C; }
    .easy-buy-container .On-board-electrical .goods-container .goods-part .goods-item .item-detail {
      background-color: #8506C4; }
    .easy-buy-container .On-board-electrical .goods-container .goods-box .buy-now {
      display: block;
      height: 48px;
      width: 188px;
      background: url("/images/easy_buy/b_y_buy.png"); }
  .easy-buy-container .Seiketsu .goods-container {
    background-color: #FFFCEC; }
    .easy-buy-container .Seiketsu .goods-container .goods-part {
      margin-top: 10px; }
      .easy-buy-container .Seiketsu .goods-container .goods-part .goods-item {
        border-color: #fe0100;
        background-color: #fff; }
        .easy-buy-container .Seiketsu .goods-container .goods-part .goods-item .item-detail {
          width: 278px;
          background-color: #fff; }
          .easy-buy-container .Seiketsu .goods-container .goods-part .goods-item .item-detail .item-describe {
            color: #fe0100;
            font-size: 20px;
            width: 100%; }
          .easy-buy-container .Seiketsu .goods-container .goods-part .goods-item .item-detail .price {
            color: #fe0100;
            font-weight: bold;
            font-size: 20px; }
          .easy-buy-container .Seiketsu .goods-container .goods-part .goods-item .item-detail .buy-now {
            display: block;
            height: 20px;
            width: 78px;
            bottom: 34px;
            background: url("/images/easy_buy/r_s_buy.png"); }
    .easy-buy-container .Seiketsu .goods-container .goods-box {
      margin-top: 0; }
      .easy-buy-container .Seiketsu .goods-container .goods-box .box-item {
        border-color: #fe0100; }
        .easy-buy-container .Seiketsu .goods-container .goods-box .box-item .item-detail {
          background: #fff; }
          .easy-buy-container .Seiketsu .goods-container .goods-box .box-item .item-detail .describe {
            color: #fe0100;
            font-size: 28px; }
          .easy-buy-container .Seiketsu .goods-container .goods-box .box-item .item-detail .price {
            color: #fe0100;
            font-weight: bold; }
          .easy-buy-container .Seiketsu .goods-container .goods-box .box-item .item-detail .buy-now {
            display: block;
            height: 48px;
            width: 188px;
            background: url("/images/easy_buy/r_b_buy.png"); }
  .easy-buy-container .Car-decoration .goods-container {
    background-color: #FFFCEC; }
    .easy-buy-container .Car-decoration .goods-container .goods-item {
      border-color: #fe0100;
      margin-bottom: 10px;
      margin-right: 10px; }
      .easy-buy-container .Car-decoration .goods-container .goods-item:nth-child(4n) {
        margin-right: 0; }
      .easy-buy-container .Car-decoration .goods-container .goods-item .item-detail {
        background-color: #fff;
        width: 278px; }
        .easy-buy-container .Car-decoration .goods-container .goods-item .item-detail .item-describe {
          color: #fe0100;
          width: 100%; }
        .easy-buy-container .Car-decoration .goods-container .goods-item .item-detail .price {
          color: #fe0100; }
        .easy-buy-container .Car-decoration .goods-container .goods-item .item-detail .buy-now {
          display: block;
          height: 20px;
          width: 78px;
          bottom: 34px;
          background: url("/images/easy_buy/r_s_buy.png"); }
