body {
  overflow-x: hidden; }

.bg-muted {
  background: #f2f2f2; }

.table-fix {
  table-layout: fixed; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.container {
  width: 1190px;
  max-width: none !important; }

.high-lighted {
  color: #df483d; }

.custom-account-view {
  min-height: 100vh;
  background: #f6f6f6; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

.water-activity-container {
  position: relative;
  background-color: #43068e;
  color: #fff;
  min-height: 1600px;
  overflow: hidden; }
  .water-activity-container:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    background: #44068f;
    background-image: linear-gradient(to right, #43068e, #bb02ff, #43068e); }
  .water-activity-container > div {
    position: relative; }
  .water-activity-container .bubbles-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto; }
    .water-activity-container .bubbles-container .bubble {
      position: absolute;
      width: 420px;
      height: 420px;
      background: url("/images/water/bubble.png") center no-repeat; }
    .water-activity-container .bubbles-container .x1 {
      -webkit-transform: scale(0.3) rotate(30deg);
              transform: scale(0.3) rotate(30deg);
      left: -5%;
      -webkit-animation: bubbleMove 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
              animation: bubbleMove 11s linear infinite, sideWays 5s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x2 {
      -webkit-transform: scale(0.5) rotate(45deg);
              transform: scale(0.5) rotate(45deg);
      left: 4%;
      -webkit-animation: bubbleMove 7s linear infinite, sideWays 3s ease-in-out infinite alternate;
              animation: bubbleMove 7s linear infinite, sideWays 3s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x3 {
      -webkit-transform: scale(0.4) rotate(60deg);
              transform: scale(0.4) rotate(60deg);
      left: 10%;
      -webkit-animation: bubbleMove 13s linear infinite, sideWays 3s ease-in-out infinite alternate;
              animation: bubbleMove 13s linear infinite, sideWays 3s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x4 {
      -webkit-transform: scale(0.2) rotate(75deg);
              transform: scale(0.2) rotate(75deg);
      left: 15%;
      -webkit-animation: bubbleMove 8s linear infinite, sideWays 5s ease-in-out infinite alternate;
              animation: bubbleMove 8s linear infinite, sideWays 5s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x5 {
      -webkit-transform: scale(0.65) rotate(90deg);
              transform: scale(0.65) rotate(90deg);
      left: 20%;
      -webkit-animation: bubbleMove 15s linear infinite, sideWays 7s ease-in-out infinite alternate;
              animation: bubbleMove 15s linear infinite, sideWays 7s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x6 {
      -webkit-transform: scale(0.3) rotate(30deg);
              transform: scale(0.3) rotate(30deg);
      right: -5%;
      -webkit-animation: bubbleMove 17s linear infinite, sideWays 5s ease-in-out infinite alternate;
              animation: bubbleMove 17s linear infinite, sideWays 5s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x7 {
      -webkit-transform: scale(0.5) rotate(45deg);
              transform: scale(0.5) rotate(45deg);
      right: 4%;
      -webkit-animation: bubbleMove 13s linear infinite, sideWays 3s ease-in-out infinite alternate;
              animation: bubbleMove 13s linear infinite, sideWays 3s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x8 {
      -webkit-transform: scale(0.4) rotate(60deg);
              transform: scale(0.4) rotate(60deg);
      right: 10%;
      -webkit-animation: bubbleMove 9s linear infinite, sideWays 3s ease-in-out infinite alternate;
              animation: bubbleMove 9s linear infinite, sideWays 3s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x9 {
      -webkit-transform: scale(0.2) rotate(75deg);
              transform: scale(0.2) rotate(75deg);
      right: 15%;
      -webkit-animation: bubbleMove 10s linear infinite, sideWays 5s ease-in-out infinite alternate;
              animation: bubbleMove 10s linear infinite, sideWays 5s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x10 {
      -webkit-transform: scale(0.65) rotate(90deg);
              transform: scale(0.65) rotate(90deg);
      right: 20%;
      -webkit-animation: bubbleMove 21s linear infinite, sideWays 7s ease-in-out infinite alternate;
              animation: bubbleMove 21s linear infinite, sideWays 7s ease-in-out infinite alternate; }
    .water-activity-container .bubbles-container .x11 {
      -webkit-transform: scale(0.65) rotate(90deg) translateY(-50%);
              transform: scale(0.65) rotate(90deg) translateY(-50%);
      left: 50%;
      -webkit-animation: bubbleMove 11s linear infinite, sideWays 7s ease-in-out infinite alternate;
              animation: bubbleMove 11s linear infinite, sideWays 7s ease-in-out infinite alternate; }

@-webkit-keyframes bubbleMove {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }

@keyframes bubbleMove {
  0% {
    top: 100%; }
  100% {
    top: -100%; } }

@-webkit-keyframes sideWays {
  0% {
    opacity: .7;
    margin-left: 0; }
  100% {
    opacity: 1;
    margin-left: 400px; } }

@keyframes sideWays {
  0% {
    opacity: .7;
    margin-left: 0; }
  100% {
    opacity: 1;
    margin-left: 400px; } }
  .water-activity-container .section-banner {
    background: url("/images/water/activity_banner.jpg") top center no-repeat;
    min-height: 735px;
    z-index: auto; }
  .water-activity-container .product-box {
    font-size: 22px;
    position: relative;
    z-index: 1;
    overflow: visible; }
    .water-activity-container .product-box .media-body {
      position: relative;
      overflow: visible; }
      .water-activity-container .product-box .media-body .water-strategy {
        position: absolute;
        cursor: pointer;
        bottom: -36px; }
    .water-activity-container .product-box:before {
      content: '';
      position: absolute;
      left: 0;
      top: -120px;
      width: 208px;
      height: 208px;
      background: url("/images/water/bajiaoxing.png") center no-repeat; }
    .water-activity-container .product-box:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -80px;
      width: 187px;
      height: 136px;
      background: url("/images/water/ufo.png") center no-repeat; }
    .water-activity-container .product-box h4 {
      font-size: 36px;
      margin-bottom: 20px; }
    .water-activity-container .product-box p {
      margin: 0; }
    .water-activity-container .product-box .hr {
      width: 350px;
      height: 2px;
      background: #a1bce3;
      margin: 25px 0; }
    .water-activity-container .product-box .btn-default {
      z-index: 99;
      margin-top: 31px;
      font-size: 24px;
      color: #fff;
      background: #df483d;
      background-image: linear-gradient(to top, #c70516, #f71393);
      border: 0;
      padding: 7px 6px;
      line-height: 1; }
      .water-activity-container .product-box .btn-default strong {
        font-size: 67px;
        font-weight: 400; }
      .water-activity-container .product-box .btn-default span {
        display: inline-block;
        margin-left: 16px;
        color: #333;
        width: 118px;
        height: 50px;
        backgorund: #fff7cd;
        background-image: linear-gradient(to right, #f5d67d, #fff7cd, #f5d67d);
        line-height: 50px;
        position: relative;
        vertical-align: top;
        top: 8px; }
  .water-activity-container .light-box {
    margin: 30px auto 124px;
    background: url("/images/water/light-box.jpg") center -2px no-repeat;
    width: 680px;
    height: 200px;
    border-radius: 28px; }
  .water-activity-container .intro-box {
    margin: 50px 0; }
    .water-activity-container .intro-box .img-responsive {
      margin: 0 auto; }
    .water-activity-container .intro-box .img-offset {
      position: relative;
      left: -100px; }
    .water-activity-container .intro-box.has-planet {
      position: relative; }
      .water-activity-container .intro-box.has-planet:before {
        content: '';
        position: absolute;
        left: -20px;
        bottom: -120px;
        width: 128px;
        height: 128px;
        background: url("/images/water/planet.png") center no-repeat; }

.water-strategy-content {
  margin: 0 auto;
  z-index: 22;
  text-align: center;
  background-color: RGBA(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
  .water-strategy-content p {
    position: fixed;
    right: 100px;
    top: 260px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: #000;
    background-color: RGBA(255, 255, 255, 1);
    opacity: 0.6; }
