.shouhou{
    background: url(/images/20181017/bgt.png)no-repeat center top;
    min-width: 1190px;
    height: 1080px;
    margin: auto;
    overflow: hidden;
}
.shouhou a{
    display: block;
    width: 203px;
    height: 55px;
    margin: auto;
    margin-top: 635px;
    background: url(/images/20181017/caigou.jpg)no-repeat center top;
}
body{
    background: #ffae00;
}