@charset "UTF-8";
.order-item {
  display: -webkit-flex;
  display: flex;
  margin: 0 4px;
  padding: 4px; }
  .order-item aside {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    margin-right: 8px;
    border: 1px solid #ccc; }
    .order-item aside img {
      max-width: 100%;
      max-height: 100%; }
  .order-item main {
    position: relative;
    -webkit-flex: auto;
            flex: auto; }
    .order-item main .description {
      font-size: 14px;
      height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; }
    .order-item main .param {
      color: #999; }
      .order-item main .param span {
        margin-right: 4px; }
    .order-item main .price {
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 13px; }
      .order-item main .price span {
        color: #ff9100; }
    .order-item main .ammount {
      position: absolute;
      right: 0;
      bottom: 0; }
      .order-item main .ammount:before {
        content: '×'; }

nav.bottom-nav-coupon {
  max-width: 640px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: inherit;
  margin: auto;
  z-index: 999; }

main.containers {
  button: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

nav.bottom-nav-coupon {
  background: #fff;
  height: 44px;
  display: -webkit-flex;
  display: flex; }
  nav.bottom-nav-coupon + main.containers {
    top: 44px;
    padding-top: 44px; }
  nav.bottom-nav-coupon span {
    -webkit-box-flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    text-align: right;
    padding-left: 0%;
    font-weight: bold;
    letter-spacing: 3px;
    width: 52%; }
    nav.bottom-nav-coupon span .spam-first {
      padding-left: 10px; }
    nav.bottom-nav-coupon span:last-child {
      font-size: 14px;
      font-weight: 100;
      color: #333333;
      padding-right: 10px;
      width: 32%; }
  nav.bottom-nav-coupon a {
    -webkit-flex: 1 1 15%;
            flex: 1 1 15%; }
    nav.bottom-nav-coupon a:first-child {
      border-right: 0px solid #ccc; }
      nav.bottom-nav-coupon a:first-child i {
        background-image: url("/images/icons/back_hei.png");
        background-size: 40%; }

.coupon-activation .coupon-height {
  height: 5px;
  width: 100%;
  background: #f2f2f2; }

.coupon-activation .coupon-input {
  padding: 0 15px; }
  .coupon-activation .coupon-input .coupon-no-pass {
    height: 60px;
    line-height: 70px;
    font-size: 16px;
    font-weight: bold; }
  .coupon-activation .coupon-input .coupon-input-no-pass {
    height: 32px;
    border-bottom: 1px solid #333333; }
    .coupon-activation .coupon-input .coupon-input-no-pass input {
      border: 0px;
      height: 30px;
      font-size: 16px;
      color: #b2b2b2;
      outline: none;
      width: 85%; }
    .coupon-activation .coupon-input .coupon-input-no-pass .input-active::-webkit-input-placeholder {
      color: #cf4d44; }
  .coupon-activation .coupon-input button {
    color: #FFFFFF;
    background-color: #cf4d44;
    border: 0px;
    width: 260px;
    height: 44px;
    border-radius: 5px;
    font-size: 16px;
    margin: 30px calc(50% - 130px);
    outline: none; }
